<div class="roof-simulator-container">
    <!-- <app-loader [loading]="loading" [height]="height"></app-loader>     -->
  <nav class="nav-roof-simulator">
    <div class="nav-roof-simulator-wrapper">
      <div class="nav-roof-top">

        <img src="/assets/images/icono-cubierta.png">
        <h1 class="nav-roof-title">Simulador de cubiertas</h1>

        <h2 class="nav-roof-subtitle">Escoge tu proyecto</h2>

        <div class="type-container">
          <button type="button" class="btn-area" [ngClass]="{'active':currentTab == VIVIENDA}" (click)="tab(VIVIENDA)">
            <img src="/assets/images/icono-residencia.png">
            <span class="text">Viviendas</span>
          </button>
          <button type="button" class="btn-area" [ngClass]="{'active':currentTab == BODEGA}" (click)="tab(BODEGA)">
            <img src="/assets/images/icono-bodega.png">
            <span class="text">Bodegas</span>
          </button>
        </div>

        <div class="more-type" *ngIf="currentTab == BODEGA">
          <button type="button" class="btn-area" [ngClass]="{'active':currentTab_bodega == BODEGA_FACHADA}"
            (click)="tab_bodega(BODEGA_FACHADA)">
            <img src="/assets/images/icono-bodega-fachada.png">
            <span class="text">Fachada</span>
          </button>
          <button type="button" class="btn-area" [ngClass]="{'active':currentTab_bodega == BODEGA_CUBIERTA}"
            (click)="tab_bodega(BODEGA_CUBIERTA)">
            <img src="/assets/images/icono-bodega-cubierta.png">
            <span class="text">Cubierta</span>
          </button>
        </div>

      </div>

      <div class="nav-roof-medium" *ngIf="currentTab == VIVIENDA || currentTab == BODEGA">

        <div class="config-tab-1">
          <ng-container *ngFor="let item of types; let index = index">
            <div *ngIf="item.show">
              <button class="btn-area" (click)="type(index)" [ngClass]="{'active': currenttype == index}">
                <span class="check"><img src="/assets/images/check-mark-button-svgrepo-com.svg"></span>
                <img src="/assets/images/{{item.url}}">
                <span class="text">
                  <span class="icon"></span>
                  {{item.name}}
                </span>
              </button>
            </div>
          </ng-container>
        </div>

        <div class="config-tab-2">
          <div class="palette" *ngFor="let item of images.img; let index = index">
            <button (click)="selecRoof(index)" [ngClass]="{'color-active': indexroof === index}">
              <img src="/assets/images/iconos-colores/{{item.url}}">
              <span class="check"><img src="/assets/images/check-mark-button-svgrepo-com.svg"></span>
            </button>
            <h1>{{item.title}}</h1>
            <ul>
              <li>RAL: {{item.ral}}</li>
              <li>SRI: {{item.sri}}</li>
            </ul>
          </div>
        </div>

      </div>


      <div class="nav-roof-bottom">
        <button>
          <img src="/assets/images/icono-distribuidores.png">
          Distribuidores
        </button>
        <button>
          <img src="/assets/images/icono-garantias.png">
          Garantía
        </button>
        <button class="cotizar">Cotizar</button>
      </div>
    </div>
  </nav>
  <div class="content-roof-simulator">
      
    <div class="tab-1" *ngIf="currentTab == 0">
      <h1>Lorem ipsum dolor sit amet,</h1>
      <p> consectetur adipisicing elit. Ratione veritatis, illum, fugit totam atque quam ex
        laboriosam quis perspiciatis consequatur harum molestias? Maxime doloremque facere, quaerat voluptates omnis
        cupiditate. Asperiores?</p>
    </div>
    <div class="tab-2" *ngIf="currentTab == VIVIENDA">
      <img style="width: 100%!important;height: 705px!important; object-fit: cover!important;" src="/assets/images/00-CASA/{{images.type[currenttype]}}">
      <img style="width: 100%!important;height: 705px!important; object-fit: cover!important;" class="roof-color" (load)="loadingImageState()" *ngIf="currentroofcolor" src="/assets/images/00-CASA/{{currentroofcolor}}">
    </div>

    <div class="tab-3" *ngIf="currentTab == BODEGA">
      <img style="width: 100%!important;height: 705px!important; object-fit: cover!important;" src="/assets/images/01-BODEGA/{{images.type[currenttype]}}">
      <img style="width: 100%!important;height: 705px!important; object-fit: cover!important;" class="roof-color" (load)="loadingImageState()" *ngIf="currentroofcolor" src="/assets/images/01-BODEGA/{{currentroofcolor}}">
      <img style="width: 100%!important;height: 705px!important; object-fit: cover!important;" class="roof-color" (load)="loadingImageState()" *ngIf="currentfacadecolor" src="/assets/images/01-BODEGA/{{currentfacadecolor}}">
    </div>
  </div>
</div>