.roof-simulator-container {
  height: calc(100vh - 56px);
  display: flex;
}

.content-roof-simulator {
  flex: 7;
  
  background-image: url('/assets/images/fondo-app-acesco.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-1 {
  position: relative;
  max-width: 450px;
  color: #fff;
  padding: 0px 50px;
  background: rgba(5, 74, 78, 0.5);
  margin: 50px 0;
}

.tab-1:before {
  content:'';
  position: absolute;
  width: 100%;
  top: -50px;
  left: 0;
  border-bottom: 50px solid rgba(5, 74, 78, 0.5);
  border-right: 30px solid transparent;
}

.tab-1:after {
  content:'';
  position: absolute;
  width: 100%;
  bottom: -50px;
  left: 0;
  border-top: 50px solid rgba(5, 74, 78, 0.5);
  border-left: 30px solid transparent;
}

.tab-1 h1,
.tab-1 p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.tab-1 h1 {
  font-size: 22px;
  position: relative;
  margin-bottom: 30px;
}

.tab-1 h1:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 20%;
  bottom: -15px;
  left: calc(40%);
  background: #fff;
}

.tab-1 p {
  font-size: 13px;
}

.nav-roof-simulator {
  padding: 20px;
  overflow-y: scroll;
  flex:3;
}

.nav-roof-simulator-wrapper {
  margin: 0 auto;
  width: 380px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
}
.nav-roof-top {
  text-align: center;
}

.nav-roof-top>img {
  max-width: 80px;
  margin-bottom: 20px;
}

.nav-roof-top h1,
.nav-roof-top h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-roof-top h1 {
  font-size: 15px;
  margin-bottom: 20px;
  color: #39a8db;
}

.nav-roof-top h2 {
  font-size: 12px;
  margin-bottom: 20px;
}

.type-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.type-container button {
  margin: 0;
  max-width: 150px;
}

.btn-area {
  background: transparent;
  color: #9e9d9d;
  border: 1px solid;
  cursor: pointer;
  width: calc(50% - 5px);
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.btn-area .text {
  display: block;
  padding: 5px 10px;
  border-top: 1px solid #9e9d9d;
}

.btn-area.active .text {
  background: #251a63;
  color: #fff;
}

.btn-area img {
    height: 80px;
    padding: 20px;
    width: 100%;
    max-width: 100px;
}

.config-tab-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.config-tab-1 > div {
  width: 90%;
  max-width: 120px;
  margin-bottom: 10px;
}
.config-tab-1 .btn-area {
  width: 100%;
}
.config-tab-1 .btn-area img {
  width: 100%;
  max-width: 100px;
}

.nav-roof-bottom {
  padding-top: 10px;
  border-top: 1px solid #9e9d9d;
  padding-top: 10px;
  margin-top: 30px;
}

.nav-roof-bottom button {
  width: calc(50% - 5px);
  background: transparent;
  color: #9e9d9d;
  cursor: pointer;
  position: relative;
  border: 0;
  font-size: 10px;
  margin-bottom: 15px;
}

.nav-roof-bottom button:hover {
  color: #000;
}

.nav-roof-bottom button img {
  position: absolute;
  width: 35px;
  left: 0;
  top: -9px;
}

.nav-roof-bottom button:nth-child(1) {
  margin-right: 10px;
}

.nav-roof-bottom .cotizar {
  width: 100%;
  border-radius: 40px;
  background: #251a63;
  color: #fff;
  font-size: 12px;
  margin: 10px 0;
  padding: 7px;
}
.nav-roof-bottom .cotizar:hover {
  color: #fff;
  background: #251a63;
}
.nav-roof-medium {
  margin-top: 15px;
}

.nav-roof-medium .config-tab-2 .btn-area {
  width: calc(33.333% - 7px);
}

.nav-roof-medium .config-tab-2 .btn-area:nth-child(2) {
  margin: 0 10px;
}

.nav-roof-medium .btn-area .text {
  font-size: 11px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-area {
  position: relative;
}

.check {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 48px);
  opacity: 0;
  z-index: -1;
}

.btn-area.active .check {
  opacity: 1;
  z-index: 1;
}



.roof-color {
  position: absolute;
  left: 0;
  top: 0;
}

.config-tab-2 {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tab-2,
.tab-3 {
  text-align: center; 
  position: relative;
}

.tab-2 > img,
.tab-3 > img,
 {
  width: 100%!important;
  height: 705px!important;
  object-fit: cover!important;
}

.config-tab-2 button {
  border: 0;
  background: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.config-tab-2 button .check {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  background: transparent;
}

.config-tab-2 button.color-active .check {
  z-index: 10;
  opacity: 1;
}

.config-tab-2 button.color-active .check img {
  max-width: 20px;
}

.nav-roof-medium .check img {
  width: 59px;
}
.palette{
  width: 33.33333%;
}
.palette button {
  margin: 0 auto;
  margin-bottom: 10px;
}
.palette h1 {
  color: #000;
  margin-bottom: 8px;
  text-align: left;
  font-weight: bold;
  font-size: 11px;
}
.palette ul {
  text-align: left;
  font-size: 11px;
  padding-left: 14px;
}

.palette h1,
.palette ul {
  margin-left:  15px;
}

.palette ul li {
  padding: 0;
}

.palette .check img {
  margin-right: 5px;
  margin-bottom: 5px;
}

.more-type {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #9e9d9d;
  padding-top: 15px;
}

.more-type button {
  margin: 0;
  max-width: 150px;
}

@media only screen and (max-width: 600px) {
  .roof-simulator-container {
    flex-direction: column-reverse;
    height: auto;
  }

  .nav-roof-simulator,
  .content-roof-simulator {
    flex: auto;
  }

  .nav-roof-simulator {
    padding: 20px 5px;
    width: 100%;
  }
}