<section id="app-profile"  [ngClass]="{'animated fadeIn fast': !approved}">
  <app-loader *ngIf="!approved" [loading]="loading" [height]="height"></app-loader>
  <app-logo-and-social *ngIf="!approved"></app-logo-and-social>
  <div class="container-fluid">
    <header class="row">
      <div class="col-12">
        <h3 class="text-center mt-5">Definición Perfil/Supplier Profile</h3>
      </div>
    </header>
    <hr class="whiteLine mt-5">
    <div class="row mt-5">
      <div class="card">
        <div class="row">
          <div class="col-6 left">
            <h3 class="title">Nacional</h3>
            <hr class="lightBlueLine">
            <div class="container">
              <div class="row border-bottom" *ngFor="let option of nationalOptions">
                <div class="col-6 text-left">
                  {{option.label}}
                </div>
                <div class="col-6 text-right">
                  <app-toggle [loading]="loading" [model]="option.active" [prop]="option.value"
                    (updatedValue)="updatedValue($event);">
                  </app-toggle>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 right">
            <h3 class="title">International</h3>
            <hr class="lightBlueLine">
            <div class="container">
              <div class="row border-bottom" *ngFor="let option of internationalOptions">
                <div class="col-6 text-left">
                  {{option.label}}
                </div>
                <div class="col-6 text-right">
                  <app-toggle [loading]="loading" [model]="option.active" [prop]="option.value"
                    (updatedValue)="updatedValue($event);">
                  </app-toggle>
                </div>
              </div>
            </div>
          </div>
          <button class="acesco-button" (click)="submitProfile();" [disabled]="loading">Enviar
            <fa-icon [icon]="faCaretRight" *ngIf="!loading"></fa-icon>
            <fa-icon [icon]="faSpinner" *ngIf="loading" [spin]="true"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <app-footer *ngIf="!approved"></app-footer>
  </div>
</section>