#app-profile {
  background: #2daddc; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #2daddc 0%,
    #29c2ad 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #2daddc 0%,
    #29c2ad 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #2daddc 0%,
    #29c2ad 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2daddc', endColorstr='#29c2ad',GradientType=1 ); /* IE6-9 */
  position: relative;
}

#app-profile:after {
  content: "";
  background: url("../../../../assets/images/office.jpg");
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
#app-profile.no-bg {
  background: transparent;
}
#app-profile.no-bg:after {
  background: transparent;
}

header {
  color: var(--white);
}

.whiteLine {
  background-color: var(--white);
  width: 5%;
  height: 1px;
}

.title {
  text-align: center;
}

.lightBlueLine {
  width: 20%;
  height: 1px;
  background-color: var(--primary);
}

.left {
  border-right: 1px solid crimson;
  padding: 30px;
}

.right {
  padding: 30px;
}

.acesco-button {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  margin-top: 30px;
}

.card {
  padding: 50px;
  z-index: 2;
}

.no-border {
  border-bottom: 0;
}
