#app-profile {
  background-image: url("../../../../assets/images/background.jpg");
  height: 100vh;
}

header {
  color: var(--white);
}

.whiteLine {
  background-color: var(--white);
  width: 5%;
  height: 1px;
}

.title {
  text-align: center;
}

.lightBlueLine {
  width: 20%;
  height: 1px;
  background-color: var(--primary);
}

.left {
  border-right: 1px solid crimson;
}

.acesco-button {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}
