<section id="app-new-provider" class="animated fadeIn">
  <app-loader [loading]="loading" [height]="height"></app-loader>
  <app-logo-and-social></app-logo-and-social>
  <div class="container">
    <div class="row">
      <div class="col-12 text-white text-center mt-5">
        <h4 class="mt-5">Pre Registro</h4>
        <hr class="whiteLine">
        <p><b>Estimado proveedor: </b>para un debido proceso de inscripción como proveedor de ACESCO o de autorización
          de sus
          datos, agradecemos diligenciar el siguiente formulario.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-timeline [currentStep]="step"></app-timeline>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <form class="register-form" #providerForm="ngForm" (ngSubmit)="onSubmit(providerForm)" novalidate>
            <app-form-title [text]="'Autorizaciones'"></app-form-title>
            <div class="row justify-content-between">
              <div class="col-6 pr-4 box">
                <div class="row mt-3">
                  <div class="col-2 dataProtection">
                    <app-toggle [model]="preRegistro.personalDataProtection"
                                [prop]="'personalDataProtection'"
                                [loading]="loading"
                                (updatedValue)="updateValue($event)">
                    </app-toggle>
                  </div>
                  <div class="col-10 text-justify dataProtection right">
                    <p>PROTECCION DE DATOS PERSONALES. Autorizo de forma previa, volutaria, expresa y explicita a
                      ACERIAS DE COLOMBIA ACESCO S.A.S. como responsable del tratamiento de los datos personales en
                      virtud de las relaciones comerciales, los cuales serán compilados, almacenados, consultados,
                      usados, compartidos e intercambiados, para las siguientes finalizades legitimas de acuerdo con la
                      Polotica de Proteccion de Datos Personales que se encuentra en la página web
                      <a href="www.acesco.com" target="_blank">www.acesco.com:</a></p>

                    <ul class="text-justify">
                      <li>Contactar con fines comerciales, de servicio al cliente publicitarios.</li>
                      <li>Cumplir obligaciones contractuales, sin limitarse a facturación, pagos o asuntos lógicos.</li>
                      <li>Enviar noticias e información relevante sobre productos, politicas y eventos.</li>
                      <li>Cumplir obligaciones legales y enviar reportes o información a las autoridades, sin limitarse
                        a asuntos laborales, tributarios, migratorios.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-6 pl-4 box">
                <div class="row mt-3">
                  <div class="col-2 habeas">
                    <app-toggle [model]="preRegistro.habeas"
                                [prop]="'habeas'"
                                [loading]="loading"
                                (updatedValue)="updateValue($event)"></app-toggle>
                  </div>
                  <div class="col-10 habeas">
                    <p>HABEAS DATA FINANCIERO. Autorizo expresa e irrevocablemente a ACERIAS DE COLOMBIA ACESCO S.A.S. o
                      a quien represente sus derechos u ostente en el futuro cualquier titulo la calidad de acreedor
                      a:</p>
                    <ul class="text-justify">
                      <li>Consultar en cualquier tiempo en Centrales de Riesgo a toda la información que se refiere a mi
                        comportamiento crediticio, financiero y comercial, solicitudes de credito e información
                        socioeconomica.
                      </li>
                      <li>Suministrar, reportar y divulgar a centrales de Riesgo, de manera directa o indirecta a través
                        den entidades publicas que ejerzan control y vigilancia sobre los datos financieros toda la
                        información descrita en el literal a/o la que haya entregado o consten en registros o bases de
                        datos públicas para conocer mi desempeño como deudor, capacidad de pago o valoración en riesgo,
                        cumplimiento oportuno o incumplimiento de obligaciones crediticias o deberes de contenido
                        patrimonial. Asi mismo, autorizo a ACERIAS DE COLOMBIA ACESCO S.A.S. como a las Centrales de
                        Riesgo, a conservar información descrita anteriormente, debidamente actualizada y durante el
                        periodo de tiempo necesario.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-6">
                <div class="form-group">
                  <input type="date"
                         class="form-control"
                         [(ngModel)]="preRegistro.createdAt"
                         name="createdAt"
                         #createdAt="ngModel"
                         required
                         disabled>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Persona de contacto en ACESCO*"
                         [(ngModel)]="preRegistro.whoRefers"
                         [ngClass]="{'is-invalid': whoRefers.errors?.required && whoRefers.touched }"
                         name="whoRefers"
                         minlength="2"
                         #whoRefers="ngModel"
                         required
                         [disabled]="loading">
                  <div *ngIf="whoRefers.errors?.required && whoRefers.touched"><span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <select class="form-control"
                          [(ngModel)]="preRegistro.classification"
                          [ngClass]="{'is-invalid': classification.errors?.required && classification.touched }"
                          name="classification"
                          required
                          #classification="ngModel"
                          [disabled]="loading">
                    <option [ngValue]="null">Clasificación*</option>
                    <option *ngFor="let classification of classifications">{{classification.label}}</option>
                  </select>
                  <div *ngIf="classification.errors?.required && classification.touched"><span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <p>Escoja de acuerdo con objeto social <a href="">Descripciones</a></p>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control"
                            rows="6"
                            [(ngModel)]="preRegistro.serviceDescription"
                            [ngClass]="{'is-invalid': serviceDescription.errors?.required && serviceDescription.touched }"
                            name="serviceDescription"
                            #serviceDescription="ngModel"
                            [disabled]="loading"
                            placeholder="Descripcion de bien o servicio a ofrecer*"
                            required></textarea>
                  <div *ngIf="serviceDescription?.errors?.required && serviceDescription.touched"><span
                    class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
            </div>
            <app-form-title [text]="'información general'"></app-form-title>
            <div class="row mt-3">
              <div class="col-12">
                <div class="form-row">
                  <div class="form-group col-3">
                    <p class="text-center mt-1">Documento de identidad</p>
                  </div>
                  <div class="form-group col-1">
                    <select class="form-control"
                            [(ngModel)]="preRegistro.documentType"
                            [ngClass]="{'is-invalid': documentType.errors?.required && documentType.touched }"
                            name="documentType"
                            #documentType="ngModel"
                            required
                            [disabled]="loading">
                      <option [ngValue]="null">Elije uno*</option>
                      <option *ngFor="let type of documentTypes">{{type.label}}</option>
                    </select>
                    <div *ngIf="documentType.errors?.required && documentType.touched"><span class="text-danger">Este campo es obligatorio</span>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <input type="text"
                           class="form-control"
                           placeholder="No.:*"
                           [disabled]="loading"
                           required
                           name="documentNumber"
                           #documentNumber="ngModel"
                           [(ngModel)]="preRegistro.documentNumber"
                           [ngClass]="{'is-invalid': documentNumber.errors?.required && documentNumber.touched }">
                    <div *ngIf="documentNumber.errors?.required && documentNumber.touched"><span class="text-danger">Este campo es obligatorio</span>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <input type="text"
                           class="form-control"
                           placeholder="De:*"
                           [disabled]="loading"
                           required
                           [(ngModel)]="preRegistro.documentIssued"
                           [ngClass]="{'is-invalid': documentIssued.errors?.required && documentIssued.touched }"
                           name="documentIssued"
                           #documentIssued="ngModel">
                    <div *ngIf="documentIssued.errors?.required && documentIssued.touched"><span class="text-danger">Este campo es obligatorio</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="text-block">
                  <ul class="list-unstyled">
                    <li>
                      <p>IMPORTANTE: Señor proveedor, tenga en cuenta que toda persona natural que contrate ACESCO por
                        un monto superior a un salario minimo legal mensual vigente (SMMLV). debe:</p>
                    </li>
                    <li>
                      <p>1) Estar afiliado al sistema de seguridad social como trabajador independiente, sin importar
                        que este aportando como trabajador independiente de una empresa.</p>
                    </li>
                    <li>
                      <p>2) Al presentar su factura por concepto de servicios, esta debe presentar el numero de
                        trabjadores que involucró en la actividad y venir acompañada de la planilla de aportes a la
                        seguridad social del mes correspondiente al de la prestación del servicio. </p>
                    </li>
                    <li>
                      <p>3) La base para realizar los aportes a la seguridad socual no debe ser inferior al 40% del
                        valor mensual facturado antes de IVA y si este cálculo resulta inferior a un SMMLV. entonces
                        debe calcular sobre la base del salario minimo, sin superar los 25 SMMLV.</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Razon social/Nombre completo*"
                         [disabled]="loading"
                         required
                         [(ngModel)]="preRegistro.businessName"
                         [ngClass]="{'is-invalid': businessName.errors?.required && businessName.touched }"
                         name="businessName"
                         #businessName="ngModel">
                  <div *ngIf="businessName.errors?.required && businessName.touched"><span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Razon comercial*"
                         [disabled]="loading"
                         required
                         [(ngModel)]="preRegistro.commercialName"
                         [ngClass]="{'is-invalid': commercialName.errors?.required && commercialName.touched }"
                         name="commercialName"
                         #commercialName="ngModel">
                  <div *ngIf="commercialName.errors?.required && commercialName.touched"><span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Cod. CIIU*"
                         [disabled]="loading"
                         required
                         [(ngModel)]="preRegistro.ciiu"
                         [ngClass]="{'is-invalid': ciiu.errors?.required && ciiu.touched }"
                         name="ciiu"
                         #ciiu="ngModel">
                  <div *ngIf="ciiu.errors?.required && ciiu.touched"><span
                    class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Nombres y apellidos del representante legal:*"
                         [disabled]="loading"
                         required
                         [(ngModel)]="preRegistro.legalRepresentative"
                         [ngClass]="{'is-invalid': serviceDescription.errors?.required && serviceDescription.touched }"
                         name="legalRepresentative"
                         #legalRepresentative="ngModel">
                  <div *ngIf="legalRepresentative.errors?.required && legalRepresentative.touched"><span
                    class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Profesion y oficio:*"
                         [disabled]="loading"
                         required
                         [(ngModel)]="preRegistro.profession"
                         [ngClass]="{'is-invalid': profession.errors?.required && profession.touched }"
                         name="profession"
                         #profession="ngModel">
                  <div *ngIf="profession?.errors?.required && profession.touched"><span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Tarjeta o registro profesional No:"
                         [disabled]="loading"
                         [(ngModel)]="preRegistro.professionalCard"
                         [ngClass]="{'is-invalid': professionalCard.errors?.required && professionalCard.touched }"
                         name="professionalCard"
                         #professionalCard="ngModel">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Expedido por:"
                         [disabled]="loading"
                         [(ngModel)]="preRegistro.issuedBy"
                         [ngClass]="{'is-invalid': issuedBy.errors?.required && issuedBy.touched }"
                         name="issuedBy"
                         #issuedBy="ngModel">
                </div>
              </div>
            </div>
            <app-form-title [text]="'Datos de contacto del proveedor'"></app-form-title>
            <div class="row mt-3">
              <div class="col 8">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Persona de contacto:*"
                         [disabled]="loading"
                         required
                         [(ngModel)]="preRegistro.contactName"
                         [ngClass]="{'is-invalid': contactName.errors?.required && contactName.touched }"
                         name="contactName"
                         #contactName="ngModel">
                  <div *ngIf="contactName.errors?.required && contactName.touched"><span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Cargo:*"
                         [disabled]="loading"
                         required
                         [(ngModel)]="preRegistro.position"
                         [ngClass]="{'is-invalid': position.errors?.required && position.touched }"
                         name="position"
                         #position="ngModel">
                  <div *ngIf="position.errors?.required && position.touched"><span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-8">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Dirección:*"
                         required
                         [disabled]="loading"
                         [(ngModel)]="preRegistro.address"
                         [ngClass]="{'is-invalid': address.errors?.required && address.touched }"
                         name="address"
                         #address="ngModel">
                  <div *ngIf="address.errors?.required && address.touched"><span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <div class="form-group">
                    <select class="form-control"
                            [(ngModel)]="preRegistro.country"
                            [ngClass]="{'is-invalid': country.errors?.required && country.touched }"
                            [disabled]="loading"
                            required
                            name="country"
                            #country="ngModel">
                      <option [ngValue]="null">Pais*</option>
                      <option *ngFor="let country of countries">{{country.label}}</option>
                    </select>
                    <div *ngIf="country.errors?.required && country.touched"><span class="text-danger">Este campo es obligatorio</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Dpto:*"
                         required
                         [disabled]="loading"
                         [(ngModel)]="preRegistro.dpto"
                         [ngClass]="{'is-invalid': dpto.errors?.required && dpto.touched }"
                         name="dpto"
                         #dpto="ngModel">
                  <div *ngIf="dpto.errors?.required && dpto.touched"><span
                    class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Ciudad:*"
                         required
                         [disabled]="loading"
                         [(ngModel)]="preRegistro.city"
                         [ngClass]="{'is-invalid': city.errors?.required && city.touched }"
                         name="city"
                         #city="ngModel">
                  <div *ngIf="city.errors?.required && city.touched"><span
                    class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Codigo postal:*"
                         required
                         [disabled]="loading"
                         [(ngModel)]="preRegistro.zipcode"
                         [ngClass]="{'is-invalid': zipcode.errors?.required && zipcode.touched }"
                         name="zipcode"
                         #zipcode="ngModel">
                  <div *ngIf="zipcode.errors?.required && zipcode.touched"><span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <input type="tel"
                         class="form-control"
                         placeholder="Telefono:*"
                         required
                         [disabled]="loading"
                         [(ngModel)]="preRegistro.phone"
                         [ngClass]="{'is-invalid': phone.errors?.required && phone.touched }"
                         name="phone"
                         #phone="ngModel">
                  <div *ngIf="phone.errors?.required && phone.touched"><span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Celular:*"
                         required
                         [disabled]="loading"
                         [(ngModel)]="preRegistro.mobile"
                         [ngClass]="{'is-invalid': mobile.errors?.required && mobile.touched }"
                         name="mobile"
                         #mobile="ngModel">
                  <div *ngIf="mobile.errors?.required && mobile.touched"><span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Fax:"
                         [disabled]="loading"
                         [(ngModel)]="preRegistro.fax"
                         name="fax"
                         #fax="ngModel">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input type="email"
                         class="form-control"
                         placeholder="E-mail:*"
                         required
                         [disabled]="loading"
                         [(ngModel)]="preRegistro.email"
                         [ngClass]="{'is-invalid': email.errors?.required && email.touched }"
                         name="email"
                         #email="ngModel">
                  <div *ngIf="email.errors?.required && email.touched"><span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Pagina Web:"
                         [disabled]="loading"
                         [(ngModel)]="preRegistro.website"
                         name="website"
                         #website="ngModel">
                </div>
              </div>
            </div>
            <app-form-title [text]="'información de sistema de gestión'"></app-form-title>
            <div class="row text-block mt-3 managementSystemInformation">
              <div class="col-2 rule">
                <span>ISO 9001: SI
                  <app-toggle [model]="preRegistro.iso9001"
                              [prop]="'iso9001'"
                              [loading]="loading"
                              (updatedValue)="updateValue($event)"></app-toggle> NO
                </span>
              </div>
              <div class="col-2 rule">
                <span>ISO 14001: SI
                  <app-toggle [model]="preRegistro.iso14001"
                              [prop]="'iso14001'"
                              [loading]="loading"
                              (updatedValue)="updateValue($event)"></app-toggle> NO
                </span>
              </div>
              <div class="col-2 rule">
                <span>OSHAS 18001: SI
                  <app-toggle [model]="preRegistro.oshas18001"
                              [prop]="'oshas18001'"
                              [loading]="loading"
                              (updatedValue)="updateValue($event)"></app-toggle> NO
                </span>
              </div>
              <div class="col-6 antiCorruptionPolicy">
                <span>Tiene politica de anti corrupción y soborno: NO
                  <app-toggle [prop]="'antiCorruptionPolicy'"
                              [loading]="loading"
                              [model]="preRegistro.antiCorruptionPolicy"
                              (updatedValue)="updateValue($event)"></app-toggle> SI</span>
              </div>
              <div class="col-6 sustainability">
                <span>Posee Reporte de Sostenibilidad NO
                  <app-toggle [prop]="'sustainability'"
                              [loading]="loading"
                              [model]="preRegistro.sustainability"
                              (updatedValue)="updateValue($event)"></app-toggle> SI</span>
              </div>
              <div class="col-6 dueDiligence">
                <span>Tiene implementado el proceso de la debida diligencia NO
                  <app-toggle [prop]="'dueDiligence'"
                              [loading]="loading"
                              [model]="preRegistro.dueDiligence"
                              (updatedValue)="updateValue($event)"></app-toggle> SI</span>
              </div>
              <div class="col-6 socialResponsability">
                <span>Posee fundación o responsabilidad social NO
                  <app-toggle [prop]="'socialResponsability'"
                              [loading]="loading"
                              [model]="preRegistro.socialResponsability"
                              (updatedValue)="updateValue($event)"></app-toggle> SI</span>
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Cual?"
                         [disabled]="!preRegistro.socialResponsability || loading"
                         [(ngModel)]="preRegistro.socialResponsabilityName"
                         name="socialResponsabilityName"
                         #socialResponsabilityName="ngModel">
                </div>
              </div>
              <div class="col-6 productSeal">
                  <span>Posee sello de producto NO
                  <app-toggle [prop]="'managementSystemInformation'"
                              [prop2]="'productSeal'"
                              [loading]="loading"
                              [model]="preRegistro.productSeal"
                              (updatedValue)="updateValue($event)"></app-toggle> SI</span>
                <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Cual?"
                         [disabled]="!preRegistro.productSeal || loading"
                         [(ngModel)]="preRegistro.productSealName"
                         name="productSealName"
                         #productSealName="ngModel">
                </div>
              </div>
            </div>
            <button class="acesco-button"
                    type="submit"
                    [disabled]="providerForm.invalid || loading">Enviar
              <fa-icon [icon]="faCaretRight" *ngIf="!loading"></fa-icon>
              <fa-icon [icon]="faSpinner" [spin]="true" *ngIf="loading"></fa-icon>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>

