#app-new-provider {
  background: #2daddc; /* Old browsers */
  background: -moz-linear-gradient(left, #2daddc 0%, #29c2ad 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2daddc 0%,#29c2ad 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2daddc 0%,#29c2ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2daddc', endColorstr='#29c2ad',GradientType=1 ); /* IE6-9 */
}

.whiteLine {
  height: 1px;
  background-color: var(--white);
  width: 5%;
  margin: 50px auto;
}

ul.text-justify {
  padding-left: 16px;
}

.list-inline-item {
  border: 1px solid var(--secondary);
  padding: 10px;
}

.dataProtection,
.habeas {
  border: 1px solid var(--secondary);
  font-size: 14px;
  height: 600px;
}

.text-block {
  border: 1px solid var(--secondary);
  padding: 10px;
}

.managementSystemInformation {
  padding: 0;
}

.sustainability,
.socialResponsability {
  border-top: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);
}

.managementSystemInformation .dueDiligence {
  border-top: 1px solid var(--secondary);
}

.col-2.rule {
  padding: 0;
  border-right: 1px solid var(--secondary);
  height: 100%;
}

.col-2.rule span,
.antiCorruptionPolicy,
.managementSystemInformation .col-6 {
  font-size: 10px;
  line-height: 2;
  text-align: center;
}

input, select {
  border: none;
  border-bottom: 1px solid var(--secondary);
  border-radius: 0;
}

input:focus,
select:focus {
  border-color: unset;
  box-shadow: unset;
}

.link {
  font-size: 16px;
  cursor: pointer;
}
