<section id="app-confirmation" class="animated fadeIn">
  <app-loader [loading]="loading" [height]="height"></app-loader>
  <app-logo-and-social></app-logo-and-social>
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="icon-border ">
          <fa-icon [icon]="faCheck" class="faCheck"></fa-icon>
        </div>
        <div class="card-body">
          <div class="card-title">
            <h4 class="card-title">Gracias por su interés</h4>
          </div>
          <p class="card-text">
            en hacer parte del grupo de proveedores de Acesco
          </p>
          <hr class="line">
          <p class="card-text" *ngIf="currentStep">
              Usted ha culminado exitosamente la {{steps[currentStep].position}} etapa ( {{steps[currentStep].stepText}}
              ) del proceso de
              inscripción como proveedor en Acesco. <span *ngIf="currentStep !== 3"> Procederemos a validar nuestros requerimientos de suministro para
              habilitar su paso a la {{steps[currentStep + 1].position}} etapa ( {{ steps[currentStep + 1].stepText }}
              ). Lo estaremos
              contactando al e-mail registrado por usted.</span>
            
          </p>
          <button type="button"
                  routerLink="/procesco"
                  class="acesco-button">
            Volver
            <fa-icon [icon]="faCaretRight" *ngIf="!loading"></fa-icon>
            <fa-icon [icon]="faSpinner" [spin]="true" *ngIf="loading"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
