<section id="app-userList">
  <div class="container">
    <div class="row mt-3">
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar usuario..." (keyup.enter)="search(searchText.value)" #searchText>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <table class="table table-striped table-responsive px-4">
          <thead >
          <tr>
            <th *ngFor="let title of tableTitles; let odd = odd; let even = even;" class="text-white" [ngClass]="{'bg-info': odd, 'bg-dark': even}">{{title.label}}</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let user of userList" class="animated fadeIn">
            <tr *ngIf="user.userType === 1 && user['pre_registro']">
              <td>
                {{ user['id'] || 'Sin diligenciar'}}
              </td>
              <td>
                {{user['pre_registro']['businessName']}}
              </td>
              <td>{{ user['pre_registro']['commercialName'] || 'Sin diligenciar'}}</td>
              <td>{{ user['pre_registro']['ciiu'] || 'Sin diligenciar'}}</td>
              <td>{{ user['pre_registro']['documentType_id'] || 'Sin diligenciar'}}</td>
              <td>{{ user['pre_registro']['documentNumber'] || 'Sin diligenciar'}}</td>
              <td>{{ user['pre_registro']['documentIssued'] || 'Sin diligenciar'}}</td>
              <td>{{ user['pre_registro']['classification_id'] || 'Sin diligenciar'}}</td>
              <td>{{ user['pre_registro']['dpto'] || 'Sin diligenciar'}}</td>
              <td>{{ user['pre_registro']['city'] || 'Sin diligenciar'}}</td>
              <td>{{ user['pre_registro']['address'] || 'Sin diligenciar'}}</td>
              <td>{{ user['pre_registro']['phone'] || 'Sin diligenciar'}}</td>
              <td>{{ user['pre_registro']['mobile'] || 'Sin diligenciar'}}</td>
              <td>{{ user['pre_registro']['email'] || 'Sin diligenciar'}}</td>
              <td>{{states[user.currentStep]}}</td>
              <td>{{ user['pre_registro']['created_at'] || 'Sin diligenciar'}}</td>
              <td>{{ user['pre_registro']['whoRefers'] || 'Sin diligenciar'}}</td>
              <td>{{(user.national === 1) ? 'Nacional' : 'Internacional'}}</td>
              <td>{{user.status === 1 ? 'U' : 'A'}}</td>
              <td>
                <button class="acesco-button" (click)="onButtonClick(user);" [disabled]="user.status === 1">Seleccionar</button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
        <app-spinner [loading]="loading"></app-spinner>
        <app-pagination *ngIf="pagination.hasOwnProperty('total')" [options]="pagination" (newData)="setNewList($event);"></app-pagination>
      </div>
    </div>
  </div>
</section>
