<div class="card animated fadeIn fast">
  <h5 class="card-title">Acesco
    <fa-icon [icon]="faGoogleDrive"></fa-icon>
  </h5>
  <!--<form class="register-form" novalidate (submit)="submitForm(loginForm);" #loginForm="ngForm">
    <div class="form-group">
      <fa-icon [icon]="faUser" class="input-icon"></fa-icon>
      <input
        [ngClass]="{'is-invalid': (name.errors?.required || name.errors?.minlength) && name.touched }"
        type="text"
        class="form-control"
        placeholder="Ususario"
        name="name"
        minlength="2"
        [(ngModel)]="user.name"
        #name="ngModel"
        required>
      <small class="form-text text-muted pl-2">El usuario corresponde al numero de identificación tributaria/ Tax ID.
      </small>
    </div>
    <div class="form-group">
      <fa-icon [icon]="faUnlock" class="input-icon"></fa-icon>
      <input
        class="form-control"
        placeholder="Contraseña"
        type="password"
        name="password"
        minlength="6"
        [ngClass]="{'is-invalid': (password.errors?.required || password.errors?.pattern) && password.touched }"
        [(ngModel)]="user.password"
        required
        #password="ngModel"
      >
    </div>
    <button type="submit" class="acesco-button" [disabled]="form.invalid">Ingresa
      <fa-icon [icon]="faCaretRight"></fa-icon>
    </button>
    <div class="row mt-5">
      <div class="col-6 text-left">
        <button type="button" class="transparent-button" (click)="nextPage(3)">Aun no tienes una cuenta? <a href="">Registrate</a>
        </button>
      </div>
      <div class="col-6 text-right">
        <button type="button" class="transparent-button">Olvidaste tu contraseña?</button>
      </div>
    </div>
  </form>-->
</div>
