.card, input, input:focus {
  background-color: #F4F5F5;
}


small {
  font-size: 10px;
}

.card {
  width: 100%;
}

form .ng-fa-icon{
  color: #1DBCA5;
}

form .ng-fa-icon:last-child {
  color: white;
}

.extra-buttons button {
  font-size: 11px;
  -webkit-appearance: caret;
}
