<header id="app-header" class="container-fluid">
  <div class="row">
    <div class="col-6 mt-3 left">
     <!-- <h4 class="ml-2 pl-3 title" (click)="backHome()">Acesco
        <fa-icon [icon]="faGoogleDrive"></fa-icon>
      </h4>-->
      <img class="img-fluid logo" src="../../../../assets/images/logo_white.png" alt="acesco logo">
    </div>
    <div class="col-6 text-right mt-3 right">
      <ul class="list-inline social-list mt-1 pr-3">
        <li *ngFor="let social of socialLinks" [class]="social.classes">
          <a [href]="social.url" target="_blank">
            <fa-icon [icon]="social.icon" class="icon"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>


