.title {
  color: var(--white);
  cursor: pointer;
}

.social-list li {
  background-color: var(--white);
  border-color: var(--white);
}

.social-list li a {
  color: #29C2AD;
}

.logo {
  width: 150px;
  margin-left: 30px;
  height: auto;
}
