#paint-system-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.paint-system-title {
  text-align: center;
  font-size: 15px;
}

.timeline,
.timeline li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.timeline li {
  display: inline-block;
  padding: 0 10px 0 0;
}

.timeline li .item-tex {
  border-bottom: 1px solid transparent;
}
.timeline li .item-text:hover {
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.timeline li:last-child {
  padding: 0;
}

.stage-title,
.stage-subtitle {
  font-size: 20px;
  text-align: center;
  padding: 20px 0 30px 0;
  font-weight: bold;
  position: relative;
  margin: 0 auto 20px auto;
  width: auto;
  display: table;
}

.stage-subtitle {
  font-size: 15px;
  font-weight: 400;
  padding-top: 10px;
}

.stage-title::after,
.stage-subtitle::after {
  content: "";
  position: absolute;
  border-radius: 4px;
  bottom: 11px;
  left: 10%;
  width: 80%;
  height: 3px;
  background: #2daddc; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #2daddc 0%,
    #29c2ad 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #2daddc 0%,
    #29c2ad 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #2daddc 0%,
    #29c2ad 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2daddc', endColorstr='#29c2ad',GradientType=1 ); /* IE6-9 */
}

.stage-title.width-subtitle::after {
  background: transparent;
}

.stage-title.width-subtitle {
  margin-bottom: 0;
  padding-bottom: 0;
}

.stage-items {
  text-align: center;
}

.stage-item-title {
  padding: 10px 20px;
  border: 1px solid #c3c3c3;
  margin-bottom: 15px;
}

.stage-card .img-container {
  border: 1px solid #c3c3c3;
  border-bottom: 0;
}
.stage-card .img-container.padding {
  padding: 10px;
}
.stage-card img {
  height: 120px;
  max-width: 100%;
}

.stage-card:hover {
  cursor: pointer;
}

.stage-card.active .stage-item-title {
  background: rgb(62, 18, 223);
  color: #fff;
}

.no-padding {
  padding: 0;
}

.display-flex {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border: 1px solid #c3c3c3;
}

.border-body {
  border: 1px solid #c3c3c3;
  border-top: 0;
  margin-bottom: 15px;
}

.flex-space {
  flex: 1 auto;
}
