.col {
  height: 30px;
  background: #2fb3db; /* Old browsers */
  background: -moz-linear-gradient(left, #2fb3db 0%, #2ad19d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2fb3db 0%,#2ad19d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2fb3db 0%,#2ad19d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fb3db', endColorstr='#2ad19d',GradientType=1 ); /* IE6-9 */
  color: var(--white);
  line-height: 30px;
}
