<section id="app-stage-b">
  <app-logo-and-social></app-logo-and-social>
  <div class="container">
    <div class="row">
      <div class="col-12 text-white text-center mt-5">
        <h4 class="mt-5">Pre Selección Estapa B</h4>
        <hr class="whiteLine">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <app-timeline [currentStep]="step"></app-timeline>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <app-form-title [text]="'soportes para operadores ecónomicos autorizados (oea)'"></app-form-title>
          <div class="row mt-3">
            <div class="col text-justify">
              <p>En consideración a la resolución 000015 del 2016 impartida por la DIRECCIÓN GENERAL DE IMPUESTOS Y
                ADUANAS NACIONALES, por la cual se reglamentan los requisitos mínimos obligatorios para calificarse como
                Operador Económico Autorizado en COlombia. Así mismo en cumplimiento a la Normativa BASC - Ext
                (Exportador) Se solicita a ustedes, asociados de negocios de la cadena de suministo de Acerias de
                COlombia - ACESCO SAS, asegurar y demostrar alineación con los requiitos minimos de seguridad de la
                circular 006 del 16 de Septiembre del 2016. A través de los compromisos adquiridos en la manifestación
                anexa.</p>
              <p>Dichos requisitos pueden ser auditados por parte de la compañía Acerias de Colombia - ACECO SAS, con el
                fin de preservar la seguridad en la cadena de suministro; manifiesto que la organización tiene buenas
                practicas de seguridad a lo largo de la cadena de suministro acorde a nuestros riesgos. Por lo cual
                garantizamos que:</p>
            </div>
          </div>
          <div class="row border">
            <div class="col-12">
              <div class="row">
                <div class="col-8">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <app-toggle [disabled]="isAdminUser"
                        [model]="stageB.minimumSafetyRequirements"
                        [prop]="'minimumSafetyRequirements'"
                        (updatedValue)="updatedValue($event);">
                      </app-toggle>
                    </li>
                    <li class="list-inline-item">
                      <p>Autoevaliación de los requisitos mínimos de seguridad</p>
                    </li>
                  </ul>
                </div>
                <div class="col-4 text-right">
                  <span (click)="toggleList('selfEvaluation')" class="icon">
                    <fa-icon [icon]="faCaretDown" *ngIf="!lists.selfEvaluation"></fa-icon>
                    <fa-icon [icon]="faCaretUp" *ngIf="lists.selfEvaluation"></fa-icon>
                  </span>
                </div>
              </div>
              <div class="container animated fadeIn faster" *ngIf="lists.selfEvaluation">
                <div class="row border-top" *ngFor="let toggle of selfEvaluationToggles">
                  <div class="col-8">
                    <p class="mt-2">{{toggle.text}}</p>
                  </div>
                  <div class="col-4 text-right">
                    <p>
                      NO
                      <app-toggle [disabled]="isAdminUser"
                        [prop]="toggle.model"
                        [model]="toggle.value"
                        (updatedValue)="updatedValue($event);">
                      </app-toggle>
                      SI
                    </p>
                  </div>
                  <div class="col-12">
                    <div class="form-group" *ngIf="toggle.model === 'inadequateProposals'">
                      <input type="text"
                             class="form-control"
                             placeholder="Cual?"
                             [(ngModel)]="stageB.inadequateProposalsWhat"
                             #inadequateProposalsWhat="ngModel"
                             [disabled]="!stageB.inadequateProposals || loading || isAdminUser"
                             name="inadequateProposalsWhat">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row border-left border-bottom border-right">
            <div class="col-12">
              <div class="row">
                <div class="col-8">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <app-toggle [disabled]="isAdminUser"
                        [model]="stageB.manifest"
                        [prop]="'manifest'"
                        (updatedValue)="updatedValue($event);">
                      </app-toggle>
                    </li>
                    <li class="list-inline-item">
                      <p>Manifiesto de cumplimiento de los requisitos minimos de seguridad</p>
                    </li>
                  </ul>
                </div>
                <div class="col-4 text-right">
                  <span (click)="toggleList('manifest')" class="icon">
                    <fa-icon [icon]="faCaretDown" *ngIf="!lists.manifest"></fa-icon>
                    <fa-icon [icon]="faCaretUp" *ngIf="lists.manifest"></fa-icon>
                  </span>
                </div>
              </div>
              <div class="container animated fadeIn faster" *ngIf="lists.manifest">
                <div class="row">
                  <div class="col-6 text-justify">
                    <p>
                      • <b>Seguridad de nuestros asociados de negocios:</b> contamos con un proceso exigente de
                      selección y verigicación de proveedores, clientes de nuestra cadena logística evitando actividades
                      ilicitas que nos puedan afectar.
                    </p>
                    <p>
                      • <b>Seguridad de la mercanciía y/o servicio:</b> la mercancía o los servicios ofrecidos cuentan
                      con las medidas de seguridad requeridas para mantener la integridad de los mismos, con el fin de
                      prevenir la ocurrencia de incidentes de seguridad.
                    </p>
                    <p>
                      • <b>Controles de acceso fisico:</b> las instalaciones de nuestra compañia son seguras y tienen
                      medidas de seguridad requeridas para prevenir el acceso no autorizado a las mismas, mantener el
                      control de empleados y visitantes, y proteger los bienes.
                    </p>
                    <p>
                      • <b>Seguridad de neustro personal:</b> nuestra organización posee mecanismos de selección,
                      contratación y verificación que garantiza que el persona vinculado y subcontratado es competente,
                      y se encuentra libre vínculos con actividades ilicítas.
                    </p>
                    <p>
                      • <b>Seguridad de neustros procesos:</b> los procesos de nuestra organización, incluidos
                      almacenamiento, distribución y transporte de la mercancía, son transparentes y cuentan con los
                      controles necesarios para garantizar integridad y seguridad.
                    </p>
                  </div>
                  <div class="col-6">
                    <p>
                      La información de nuestros proveedores u clientes, de la mercancía y/o el servicio prestado se
                      encuentra protegida y disponible para verificación en cumplimiento de las normativas de seguridad
                      que le apliquen.
                    </p>
                    <p>
                      Cuando se presentan irregularidades, actividades ilicitas o sospechosas en nuestra cadena de
                      suministro éstas serán reportadas de manera oportuna a las autoridades competentes.
                    </p>
                    <p>
                      • <b>Seguridad fisica:</b> nuestras instalaciones, perimetros y alrededores son vigilados y
                      monitoreados a través de los controles requeridos para protegernos de actividades ilícitas que nos
                      puedan afectar.
                    </p>
                    <p>
                      • <b>Entrenamientos y conciencia de amenazas:</b> contamos con procesos de capacitaciones y
                      divulgaciones orientados a formar al personal de toda la organización, con el fin de generar
                      conciencia sobre las amenazas externas e internas de nuestra cadena de suministro.
                    </p>
                    <p>
                      Todo lo manifestado anteriormente es verificacble y dicha información estrá disponible para
                      nuestros clientes en las circustancias que lo ameriten.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3 border-left border-bottom border-right">
            <div class="col-12">
              <div class="row">
                <div class="col-8">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <app-toggle [disabled]="isAdminUser"
                        [model]="stageB.physicalSecurityAgreements"
                        [prop]="'manifest'"
                        (updatedValue)="updatedValue($event);">
                      </app-toggle>
                    </li>
                    <li class="list-inline-item">
                      <p>Acuerdos de seguridad fisica</p>
                    </li>
                  </ul>
                </div>
                <div class="col-4 text-right">
                  <span (click)="toggleList('physicalSecurityAgreements')" class="icon">
                    <fa-icon [icon]="faCaretDown" *ngIf="!lists.physicalSecurityAgreements"></fa-icon>
                    <fa-icon [icon]="faCaretUp" *ngIf="lists.physicalSecurityAgreements"></fa-icon>
                  </span>
                </div>
              </div>
              <div class="container animated fadeIn faster" *ngIf="lists.physicalSecurityAgreements">
                <div class="row">
                  <div class="col">
                    <p>Declaro nuestro compromiso total con la prevención de actividades ilicitas y en especial aquellas
                      asociadas con el contrabando de mercancias, narcoticos y terrorismo a través del comercio
                      legitimo. Por lo anterior.</p>
                  </div>
                </div>
                <div class="row border-top" *ngFor="let toggle of physicalSecurityAgreementsToggles">
                  <div class="col-8">
                    <p class="mt-2">{{toggle.text}}</p>
                  </div>
                  <div class="col-4 text-right">
                    <p>
                      NO
                      <app-toggle [disabled]="isAdminUser"
                        [prop]="toggle.model"
                        [model]="toggle.value"
                        (updatedValue)="updatedValue($event);">
                      </app-toggle>
                      SI
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-form-title [text]="'anexo de documentos obligatorios'"></app-form-title>
          <div class="row border" *ngFor="let toggle of annex1Toggles">
            <div class="col-8">
              <p>{{toggle.text}}</p>
            </div>
            <div class="col-4">
              <div class="form-group">
                <input
                  type="file"
                  class="form-control-file"
                  (change)="fileChange($event, toggle.model)"
                  accept=".pdf,.doc,.docx">
              </div>
            </div>
          </div>
          <div class="row border" *ngFor="let toggle of annex2Toggles">
            <div class="col-8">
              <p>{{toggle.text}}</p>
            </div>
            <div class="col-4 text-right">
              <app-toggle [disabled]="isAdminUser" [model]="toggle.value" [prop]="toggle.model"
                          (updatedValue)="updatedValue($event)"></app-toggle>
            </div>
          </div>
          <button type="button" class="acesco-button" (click)="onSubmit()" aria-disabled="loading" *ngIf="!isAdminUser">Enviar</button>
          <button (click)="autoFill();">Rellenar</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
