<section id="app-stage-b" [ngClass]="{ 'animated fadeIn fast': !__approved, 'no-bg': __approved }">
  <app-logo-and-social *ngIf="!__approved"></app-logo-and-social>

  <div class="container">
    <div class="row">
      <div class="col-12 text-white text-center mt-5" *ngIf="!__approved">
        <h4 *ngIf="language == 1" class="mt-5">Control Documental</h4>
        <h4 *ngIf="language == 0" class="mt-5">Documentary Checks</h4>
        <hr class="whiteLine" />
      </div>
    </div>
    <div class="row" *ngIf="!__approved && language == 1">
      <div class="col">
        <app-timeline [national]="1" [currentStep]="step"></app-timeline>
      </div>
    </div>
    <div class="row" *ngIf="!__approved && language == 0">
      <div class="col">
        <app-timeline [national]="0" [currentStep]="step-1"></app-timeline>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div *ngIf="!isAdminUser || __approved" class="card" [ngClass]="{ 'no-border': __approved }">
          <div class="col-12 text-justify mt-3">
            <p>Yo (Pedro Camargo), identificado con cédula de ciudadanía (1143120421) en representación de la empresa
              (EMPRESA) con (DocID) (ID number) </p><br>
          </div>
          <div class="row">
            <div class="col-12">
              <app-form-title [text]="'código de ética y  política conflicto de interés'"></app-form-title>
            </div>



            <div class="col-12 mt-3">
              <div class="row border-left border-bottom border-right">
                <div class="col-12 animated fadeIn faster">
                  <div class="row">
                    <div class="col-12 padding">Hago constar que he leído, entiendo y acepto todas las condiciones
                      establecidas en el Código de ética de ACESCO COLOMBIA S.A.S. Entiendo que su cumplimiento
                      obligatorio es con el objetivo de mejorar las relaciones en una marco de transparencia y valores,
                      e identificar situaciones en nuestro relacionamiento que pudiesen atentar contra la sostenibilidad
                      de nuestras empresas. Esta aceptación, tiene validez para todos los efectos contractuales y
                      legales con la organización.</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row __title" (click)="toggleList('manifest')">
                    <div class="col-8 title-checks">
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <app-toggle [disabled]="isAdminUser" [model]="stageB.manifest" [prop]="'manifest'"
                            (updatedValue)="updatedValue($event)">
                          </app-toggle>
                        </li>
                        <li class="list-inline-item">
                          <p>
                            Aceptación de Código de Ética
                          </p>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <app-form-title [text]="'declaración de posibles conflictos de interés'"></app-form-title>
            </div>



            <div class="col-12 mt-3">
              <div class="row">
                <div class="col-12 animated fadeIn faster">
                  <div class="row">
                    <div class="col-12 animated fadeIn faster">
                      <div class="row border-top">
                        <div class="col-12 padding">Los conflictos de interés son aquellas situaciones en las que un
                          proveedor de bienes o servicios de la Organización, pudiera ser influido para tomar acciones
                          que afecten el cabal cumplimiento de las obligaciones contractuales o la libertad e
                          independencia en la toma de decisiones en una determinada situación, específicamente por
                          motivos relacionados con sus propios intereses económicos. Es responsabilidad de todos los
                          proveedores de la Organización, revelar cualquier vínculo que pudiera estar relacionado con la
                          prestación de sus bienes y/o servicios, y de este modo, gestionar apropiadamente esos
                          conflictos existentes o potenciales.</div>
                        <div class="col-12 animated fadeIn faster">
                          <div class="row border-top">
                            <div class="col-8 padding">Mantiene usted o algún familiar suyo, algún tipo de relación de
                              parentesco: cónyuge o compañero (a) permanente o cualquier miembro cercano de su familia
                              o; puede mantener una relación profesional como Ex empleado de ACESCO COLOMBIA S.A.S, Ex
                              compañero de trabajo y allegado; o mantiene alguna actividad económica en conjunto, con
                              uno de los funcionarios o accionistas de la empresa ACESCO COLOMBA S.A.S?</div>
                            <div class="col-4 text-right padding">
                              NO
                              <app-toggle [disabled]="isAdminUser"></app-toggle>
                              SI
                            </div>
                            <div class="col-12 form-group">
                              <label>Cual?</label>
                              <input type="text" class="form-control" placeholder="" />
                            </div>
                          </div>
                        </div>
                        <div class="col-12 padding">
                          Certifico que he dado respuesta a las preguntas de manera completa y verificable, así como
                          garantizo que he leído, entiendo y acepto la política de conflicto de interés. Me comprometo a
                          actualizar la información en el formulario de declaración cada vez que existan cambios en las
                          circunstancias y cada vez que me sea solicitado por la empresa ACESCO COLOMBIA S.A.S.
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row __title" (click)="toggleList('manifest')">
                        <div class="col-8 title-checks">
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <app-toggle [disabled]="isAdminUser" [model]="stageB.manifest" [prop]="'manifest'"
                                (updatedValue)="updatedValue($event)">
                              </app-toggle>
                            </li>
                            <li class="list-inline-item">
                              <p>
                                Aceptación de Declaración de Conflictos de Interés
                              </p>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!--  -->
            <div class="col-12">
              <app-form-title [text]="'aspectos de seguridad'"></app-form-title>
            </div>
            <div class="col-12 text-justify mt-3">
              <p>
                ACESCO está comprometida con la prevención de actividades
                ilícitas y la materilización de riesgos que atenten contra la
                integridad de su cadena de suministro y/o la continuidad de sus
                operaciones, alineadas a las normativas de seguridad aduaneras
                vigentes. Por lo anterior se solicita a nuestros asociados de
                negocio asegurar y demostrar alineación con nuestros requisitos
                de seguridad, los cuales podrán ser auditados por ACESCO.
              </p>
            </div>
            <div class="col-12 mt-3">
              <div class="row border">
                <div class="col-12">
                  <div class="row __title" (click)="toggleList('selfEvaluation')">
                    <div class="col-8 title-checks">
                      Autoevaluación de los requisitos mínimos de seguridad
                    </div>
                    <div class="col-4 text-right">
                      <span class="icon">
                        <fa-icon [icon]="faCaretDown" *ngIf="!lists.selfEvaluation"></fa-icon>
                        <fa-icon [icon]="faCaretUp" *ngIf="lists.selfEvaluation"></fa-icon>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 animated fadeIn faster" *ngIf="lists.selfEvaluation">
                  <div class="row border-top" *ngFor="let toggle of selfEvaluationToggles">
                    <div class="col-8 padding">{{ toggle.text }}</div>
                    <div class="col-4 text-right padding">
                      NO
                      <app-toggle [disabled]="isAdminUser" [prop]="toggle.model" [model]="toggle.value"
                        (updatedValue)="updatedValue($event)"></app-toggle>
                      SI
                    </div>
                    <div class="col-12 form-group" *ngIf="toggle.model === 'inadequateProposals'">
                      <input type="text" class="form-control" placeholder="Cual?"
                        [(ngModel)]="stageB.inadequateProposalsWhat" #inadequateProposalsWhat="ngModel" [disabled]="
                          !stageB.inadequateProposals || loading || isAdminUser
                        " name="inadequateProposalsWhat" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row border-left border-bottom border-right">
                <div class="col-12">
                  <div class="row __title" (click)="toggleList('manifest')">
                    <div class="col-8 title-checks">
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <app-toggle [disabled]="isAdminUser" [model]="stageB.manifest" [prop]="'manifest'"
                            (updatedValue)="updatedValue($event)">
                          </app-toggle>
                        </li>
                        <li class="list-inline-item">
                          <p>
                            Manifiesto de cumplimiento de los requisitos mínimos
                            de seguridad
                          </p>
                        </li>
                      </ul>
                    </div>
                    <div class="col-4 text-right">
                      <span class="icon">
                        <fa-icon [icon]="faCaretDown" *ngIf="!lists.manifest"></fa-icon>
                        <fa-icon [icon]="faCaretUp" *ngIf="lists.manifest"></fa-icon>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-12 animated fadeIn faster" *ngIf="lists.manifest">
                  <div class="row">
                    <div class="col-6 text-justify">
                      <p>
                        • <b>Administración del riesgo</b>: Nos comprometemos a
                        gestionar de nuestra organización, con el fin de evitar
                        su materialización y agregar valor a nuestras
                        operaciones y a las relaciones comerciales y
                        contractuales existentes.
                      </p>
                      <p>
                        •
                        <b>Seguridad de nuestros asociados de negocios:</b>
                        contamos con un proceso exigente de selección y
                        verigicación de proveedores, clientes de nuestra cadena
                        logística evitando actividades ilicitas que nos puedan
                        afectar.
                      </p>
                      <p>
                        • <b>Seguridad de la mercancía y/o servicio:</b> la
                        mercancía o los servicios ofrecidos cuentan con las
                        medidas de seguridad requeridas para mantener la
                        integridad de los mismos, con el fin de prevenir la
                        ocurrencia de incidentes de seguridad.
                      </p>
                      <p>
                        • <b>Controles de acceso físico:</b> las instalaciones
                        de nuestra compañía son seguras y tienen medidas de
                        seguridad requeridas para prevenir el acceso no
                        autorizado a las mismas, mantener el control de
                        empleados y visitantes, y proteger los bienes.
                      </p>
                      <p>
                        • <b>Seguridad de nuestro personal:</b> nuestra
                        organización posee mecanismos de selección, contratación
                        y verificación que garantiza que el persona vinculado y
                        subcontratado es competente, y se encuentra libre
                        vínculos con actividades ilicítas.
                      </p>
                      <p>
                        • <b>Seguridad de nuestros procesos:</b> los procesos de
                        nuestra organización, incluidos almacenamiento,
                        distribución y transporte de la mercancía, son
                        transparentes y cuentan con los controles necesarios
                        para garantizar integridad y seguridad.
                      </p>
                    </div>
                    <div class="col-6 text-justify">
                      <p>
                        La información de nuestros proveedores u clientes, de la
                        mercancía y/o el servicio prestado se encuentra
                        protegida y disponible para verificación en cumplimiento
                        de las normativas de seguridad que le apliquen.
                      </p>
                      <p>
                        Cuando se presentan irregularidades, actividades
                        ilicitas o sospechosas en nuestra cadena de suministro
                        éstas serán reportadas de manera oportuna a las
                        autoridades competentes.
                      </p>
                      <p>
                        • <b>Seguridad fisica:</b> nuestras instalaciones,
                        perimetros y alrededores son vigilados y monitoreados a
                        través de los controles requeridos para protegernos de
                        actividades ilícitas que nos puedan afectar.
                      </p>
                      <p>
                        •
                        <b>Entrenamientos y conciencia de amenazas:</b> contamos
                        con procesos de capacitaciones y divulgaciones
                        orientados a formar al personal de toda la organización,
                        con el fin de generar conciencia sobre las amenazas
                        externas e internas de nuestra cadena de suministro.
                      </p>
                      <p>
                        Todo lo manifestado anteriormente es verificacble y
                        dicha información estrá disponible para nuestros
                        clientes en las circustancias que lo ameriten.
                      </p>
                      <p>
                        • <b>Seguridad de la información:</b> La información de
                        nuestros proveedores y clientes, de la mercancía es la
                        y/o servicio prestado se encuentra protegida y
                        disponible para verificación en cumplimiento de la
                        normativas de seguridad que le apliquen.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row border">
                <div class="col-12">
                  <div class="row __title" (click)="toggleList('physicalSecurityAgreements')">
                    <div class="col-8 title-checks">Acuerdos de seguridad fisica</div>
                    <div class="col-4 text-right">
                      <span class="icon">
                        <fa-icon [icon]="faCaretDown" *ngIf="!lists.physicalSecurityAgreements"></fa-icon>
                        <fa-icon [icon]="faCaretUp" *ngIf="lists.physicalSecurityAgreements"></fa-icon>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 animated fadeIn faster" *ngIf="lists.physicalSecurityAgreements">
                  <div class="row">
                    <div class="col">
                      <p>Declaro nuestro compromiso total con la prevención de actividades ilicitas y en especial
                        aquellas
                        asociadas con el contrabando de mercancias, narcoticos y terrorismo a través del comercio
                        legitimo. Por lo anterior.</p>
                    </div>
                  </div>
                  <div class="row border-top" *ngFor="let toggle of physicalSecurityAgreementsToggles">
                    <div class="col-8">
                      <p class="mt-2">{{toggle.text}}</p>
                    </div>
                    <div class="col-4 text-right">
                      <p>
                        NO
                        <app-toggle [disabled]="isAdminUser" [prop]="toggle.model" [model]="toggle.value"
                          (updatedValue)="updatedValue($event);">
                        </app-toggle>
                        SI
                      </p>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
            <!--  -->
            <div class="col-12 mt-3">
              <app-form-title [text]="'anexo de documentos obligatorios'"></app-form-title>
            </div>
          </div>
          <div *ngIf="!__approved">
            <div *ngFor="let toggle of annex1Toggles">
              <div class="row border" *ngIf="toggle.visibible">
                <div class="col-md-6 col-sm-12 padding">
                  {{ toggle.text }}
                </div>
                <div class="col-md-6 col-sm-12 padding">
                  <div class="form-group">
                    <input type="file" class="form-control-file" (change)="fileChange($event, toggle.model)"
                      accept=".pdf,.doc,.docx" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="row border" *ngFor="let toggle of annex2Toggles">
            <div class="col-8 padding">
              {{ toggle.text }}
            </div>
            <div class="col-4 text-right padding">
              <app-toggle [disabled]="isAdminUser" [model]="toggle.value" [prop]="toggle.model"
                (updatedValue)="updatedValue($event)"></app-toggle>
            </div>
          </div>
          <!--  -->
          <div class="row">
            <div class="col text-center">
              <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
                {{ successMessage }}
              </div>
              <button *ngIf="!isAdminUser && user.stageb_id == null" type="button" (click)="onSubmit()"
                class="acesco-button" [disabled]="isAdminUser || loading">
                Enviar
                <fa-icon [icon]="faCaretRight" *ngIf="!loading"></fa-icon>
                <fa-icon [icon]="faSpinner" *ngIf="loading" [spin]="true"></fa-icon>
              </button>
            </div>
          </div>
          <button (click)="autoFill()" *ngIf="!isAdminUser && user.stageb_id == 0">
            Rellenar
          </button>
        </div>
        <div class="card" *ngIf="isAdminUser && !__approved">
          <div class="row">
            <div class="col-12">
              <app-form-title [text]="'verificación de documentación anexada'"></app-form-title>
            </div>
            <div class="col-12 mt-3">
              <div class="text-center">
                Para ver los documentos haga click en <b>Descargar</b>
              </div>
              <button
                class="acesco-button mt-4 max-300"
                (click)="downloadFile()"
                [disabled]="loading  || loadingTwo"
              >
                Descargar
                <fa-icon [icon]="faCaretRight" *ngIf="!loadingTwo"></fa-icon>
                <fa-icon
                  [icon]="faSpinner"
                  [spin]="true"
                  *ngIf="loadingTwo"
                ></fa-icon>
              </button>
            </div>
          </div>
        </div>

        <button class="acesco-button mt-4 max-500" type="button" (click)="approval()" *ngIf="isAdminUser && !__approved"
          [disabled]="loading">
          Aprobar
          <fa-icon [icon]="faCaretRight" *ngIf="!loading"></fa-icon>
          <fa-icon [icon]="faSpinner" [spin]="true" *ngIf="loading"></fa-icon>
        </button>
        <app-return [user]="this.id" *ngIf="id && !__approved"></app-return>
      </div>
    </div>
  </div>

  <app-footer *ngIf="!__approved"></app-footer>
</section>