<section
  id="app-stage-a"
  [ngClass]="{ 'animated fadeIn fast': !__approved, 'no-bg': __approved }"
>
  <app-logo-and-social *ngIf="!__approved"></app-logo-and-social>

  <div class="container">
    <div class="row" *ngIf="!__approved">
      <div class="col-12 text-white text-center mt-5">
        <h4 class="mt-5">Información Financiera</h4>
        <hr class="whiteLine" />
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <app-timeline [currentStep]="step" *ngIf="!__approved"></app-timeline>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" [ngClass]="{ 'no-border': __approved }">
          <form
            #stageAForm="ngForm"
            (ngSubmit)="onSubmit(stageAForm)"
            novalidate
          >
            <app-form-title
              [text]="'si es persona expuesta políticamente (pep)'"
            ></app-form-title>
            <div class="row mb-3">
              <div class="col-12 border mt-3">
                <p>
                  Relacione a continuación os representantes legales, miembros
                  de la junta directiva o accionistas/socios de la sociedad que
                  represente, que hayan ocupado cargos publicos en los ultimos
                  dos (2) años. De acuerco con el decreto 1674 del 2016.
                </p>
              </div>
              <div class="col-12 border-bottom border-left border-right">
                <p>
                  <b>Es persona expuesta políticamente (pep): NO </b>
                  <app-toggle
                    [disabled]="isAdminUser"
                    [prop]="'pep'"
                    [model]="stageA.pep"
                    (updatedValue)="updatedValue($event)"
                  ></app-toggle>
                  <b> SI</b>
                </p>
              </div>
              <div *ngIf="stageA.pep" class="mt-3 col-6">
                <div class="form-group">
                  <label>Nombres y Apellidos*</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.pep_name"
                    [ngClass]="{
                      'is-invalid':
                        pep_name.errors?.required && pep_name.touched
                    }"
                    name="pep_name"
                    minlength="2"
                    #pep_name="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div *ngIf="pep_name.errors?.required && pep_name.touched">
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div *ngIf="stageA.pep" class="mt-3 col-6">
                <div class="form-group">
                  <label>Identificación*</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.pep_identification"
                    [ngClass]="{
                      'is-invalid':
                        pep_identification.errors?.required &&
                        pep_identification.touched
                    }"
                    name="pep_identification"
                    minlength="2"
                    #pep_identification="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      pep_identification.errors?.required &&
                      pep_identification.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div *ngIf="stageA.pep" class="col-6">
                <div class="form-group">
                  <label>Cargo en la sociedad*</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.society_position"
                    [ngClass]="{
                      'is-invalid':
                        society_position.errors?.required &&
                        society_position.touched
                    }"
                    name="society_position"
                    minlength="2"
                    #society_position="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      society_position.errors?.required &&
                      society_position.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div *ngIf="stageA.pep" class="col-6">
                <div class="form-group">
                  <label>Cargo público*</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.public_position"
                    [ngClass]="{
                      'is-invalid':
                        public_position.errors?.required &&
                        public_position.touched
                    }"
                    name="public_position"
                    minlength="2"
                    #public_position="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      public_position.errors?.required &&
                      public_position.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div *ngIf="stageA.pep" class="col-6">
                <div class="form-group">
                  <label>Fecha de Vinculación</label>
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Fecha de Vinculación*"
                    [(ngModel)]="stageA.linkup_date"
                    [ngClass]="{
                      'is-invalid':
                        linkup_date.errors?.required && linkup_date.touched
                    }"
                    name="linkup_date"
                    minlength="2"
                    #linkup_date="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="linkup_date.errors?.required && linkup_date.touched"
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div *ngIf="stageA.pep" class="col-6">
                <div class="form-group">
                    <label>Fecha de Desvinculación</label>
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Fecha de desvinculación*"
                    [(ngModel)]="stageA.unlink_date"
                    [ngClass]="{
                      'is-invalid':
                        unlink_date.errors?.required && unlink_date.touched
                    }"
                    name="unlink_date"
                    minlength="2"
                    #unlink_date="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="unlink_date.errors?.required && unlink_date.touched"
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
               
              <!-- <ul>
                <li *ngFor="let pep_info of stageA.pep_info; let i = index"></li>
              </ul> -->
              </div>
              <div *ngIf="stageA.pep" class="col-12">
                  <button *ngIf="!isAdminUser" type="button" id="addPEPINFO" (click)="addPEP()" class="acesco-button">Añadir</button>
                  <br><br>
                  <table style="width: 80%;" class="mt-3">
                    <tr *ngFor="let pep_info of stageA.pep_info; let i = index">
                      <td style="width:60%;"><span>{{pep_info.pep_name}}</span></td>
                      <td style="width:20%;"><button (click)="seePEP(pep_info)" type="button" class="acesco-button" style="font-size: 0.9em;margin: 0;height: auto;">Ver</button></td>
                      <td *ngIf="!isAdminUser" style="width:20%;"><button type="button" class="acesco-button" style="background:red;font-size: 0.9em;margin: 0;height: auto;" (click)="removePEP(i)">Eliminar</button></td>
                    </tr>
                  </table>
    
                </div>
            </div>
            <app-form-title [text]="'información tributaria'"></app-form-title>
            <div class="row mt-3 mb-3">
              <div class="col-12 border">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <b>Responsable del IVA: Régimen común </b>
                    <app-toggle
                      [disabled]="isAdminUser"
                      [model]="stageA.commonRegime"
                      [prop]="'commonRegime'"
                      (updatedValue)="updatedValue($event)"
                    ></app-toggle>
                  </li>
                  <li class="list-inline-item">
                    <b>Régimen simplificado </b>
                    <app-toggle
                      [disabled]="isAdminUser"
                      [model]="stageA.simplifiedRegimen"
                      [prop]="'simplifiedRegimen'"
                      (updatedValue)="updatedValue($event)"
                    ></app-toggle>
                  </li>
                </ul>
              </div>
              <div class="col-6 border-right border-left border-bottom">
                <p>
                  <b>Gran Contribuyente: NO </b>
                  <app-toggle
                    [disabled]="isAdminUser || isSimplified"
                    [model]="stageA.greatContributor"
                    [prop]="'greatContributor'"
                    (updatedValue)="updatedValue($event)"
                  >
                  </app-toggle>
                  <b> SI</b>
                </p>
                <div class="form-group">
                  <label>Res. No.*</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.greatContributorRes"
                    [ngClass]="{
                      'is-invalid':
                        greatContributorRes.errors?.required &&
                        greatContributorRes.touched
                    }"
                    name="greatContributorRes"
                    minlength="2"
                    #greatContributorRes="ngModel"
                    required
                    [disabled]="
                      isAdminUser || loading || !stageA.greatContributor || isSimplified
                    "
                  />
                  <div
                    *ngIf="
                      greatContributorRes.errors?.required &&
                      greatContributorRes.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Fecha de resolución</label>
                  <input
                    type="date"
                    class="form-control"
                    placeholder="De*"
                    [(ngModel)]="stageA.greatContributorFrom"
                    [ngClass]="{
                      'is-invalid':
                        greatContributorFrom.errors?.required &&
                        greatContributorFrom.touched
                    }"
                    name="greatContributorFrom"
                    minlength="2"
                    #greatContributorFrom="ngModel"
                    required
                    [disabled]="
                      isAdminUser || loading || !stageA.greatContributor || isSimplified
                    "
                  />
                  <div
                    *ngIf="
                      greatContributorFrom.errors?.required &&
                      greatContributorFrom.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-6 border-right border-left border-bottom">
                <p>
                  <b>Auto retenedor por renta: NO </b>
                  <app-toggle
                    [disabled]="isAdminUser || isSimplified"
                    [model]="stageA.selfWithholdingByRent"
                    [prop]="'selfWithholdingByRent'"
                    (updatedValue)="updatedValue($event)"
                  >
                  </app-toggle>
                  <b> SI</b>
                </p>
                <div class="form-group">
                  <label>Res. No.*</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.selfWithholdingByRentRes"
                    [ngClass]="{
                      'is-invalid':
                        selfWithholdingByRentRes.errors?.required &&
                        selfWithholdingByRentRes.touched
                    }"
                    name="selfWithholdingByRentRes"
                    minlength="2"
                    #selfWithholdingByRentRes="ngModel"
                    required
                    [disabled]="
                      isAdminUser || loading || !stageA.selfWithholdingByRent || isSimplified
                    "
                  />
                  <div
                    *ngIf="
                      selfWithholdingByRentRes.errors?.required &&
                      selfWithholdingByRentRes.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Fecha de resolución</label>
                  <input
                    type="date"
                    class="form-control"
                    placeholder="De:*"
                    [(ngModel)]="stageA.selfWithholdingByRentFrom"
                    [ngClass]="{
                      'is-invalid':
                        selfWithholdingByRentFrom.errors?.required &&
                        selfWithholdingByRentFrom.touched
                    }"
                    name="selfWithholdingByRentFrom"
                    minlength="2"
                    #selfWithholdingByRentFrom="ngModel"
                    required
                    [disabled]="
                      isAdminUser || loading || !stageA.selfWithholdingByRent || isSimplified
                    "
                  />
                  <div
                    *ngIf="
                      selfWithholdingByRentFrom.errors?.required &&
                      selfWithholdingByRentFrom.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-12 border-left border-right border-bottom">
                <b>Impuesto de industria y comercio</b>
                <div class="row">
                  <div class="col-2 pt-4">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        Bogotá
                      </li>
                      <li class="list-inline-item">
                        <app-toggle
                          [disabled]="isAdminUser"
                          [prop]="'industryAndCommerceTaxBogota'"
                          [model]="stageA.industryAndCommerceTaxBogota"
                          (updatedValue)="updatedValue($event)"
                        >
                        </app-toggle>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="col-5">
                    <div class="form-group">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Cód Actividad:*"
                        [(ngModel)]="stageA.industryAndCommerceTaxCodBogota"
                        [ngClass]="{
                          'is-invalid':
                            industryAndCommerceTaxCodBogota.errors?.required &&
                            industryAndCommerceTaxCodBogota.touched
                        }"
                        name="industryAndCommerceTaxCodBogota"
                        minlength="2"
                        #industryAndCommerceTaxCodBogota="ngModel"
                        required
                        [disabled]="
                          isAdminUser ||
                          loading ||
                          !stageA.industryAndCommerceTaxBogota
                        "
                      />
                      <div
                        *ngIf="
                          industryAndCommerceTaxCodBogota.errors?.required &&
                          industryAndCommerceTaxCodBogota.touched
                        "
                      >
                        <span class="text-danger"
                          >Este campo es obligatorio</span
                        >
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="form-group col-1">
                    <p class="text-center mt-1">{{placeholderSub?.ciiu}}</p>
                  </div> -->
                  <div class="form-group col-6">
                    <label>CIIU</label>
                    <ng-autocomplete
                    [initialValue]="ciiuInitial[0]"
                    [data]="ciiuCodes"
                    [searchKeyword]="keyword"
                    (selected)='selectCiiuOne($event)'
                    [disabled]="isAdminUser || loading || !stageA.industryAndCommerceTaxBogota"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">                                 
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <a>
                      <span [innerHTML]="item.codigo"></span>
                      |
                      <span [innerHTML]="item.descripcion"></span>
                    </a>
                  </ng-template>
                    
                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                    <!--select
                      class="form-control"
                      [(ngModel)]="stageA.industryAndCommerceTaxCodBogota"
                      [ngClass]="{
                        'is-invalid':
                        industryAndCommerceTaxCodBogota.errors?.required &&
                        industryAndCommerceTaxCodBogota.touched
                      }"
                      name="industryAndCommerceTaxCodBogota"
                      #industryAndCommerceTaxCodBogota="ngModel"
                      required
                      [disabled]="isAdminUser || loading || !stageA.industryAndCommerceTaxBogota"
                    >
                      <option [ngValue]="null">CIIU*</option>
                      <option style="max-width: 50px;"
                        *ngFor="let ciiuCode of ciiuCodes"
                        [ngValue]="ciiuCode.id"
                        >{{ ciiuCode.codigo }} | {{ ciiuCode.descripcion }}</option
                      >
                    </select-->
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label>Tarifa (%):</label>
                      <input
                        type="text"
                        appMycurrency
                        class="form-control"
                        placeholder=""
                        [(ngModel)]="stageA.industryAndCommerceTaxRateBogota"
                        [ngClass]="{
                          'is-invalid':
                            industryAndCommerceTaxRateBogota.errors?.required &&
                            industryAndCommerceTaxRateBogota.touched
                        }"
                        name="industryAndCommerceTaxRateBogota"
                        minlength="2"
                        #industryAndCommerceTaxRateBogota="ngModel"
                        required
                        [disabled]="
                          isAdminUser ||
                          loading ||
                          !stageA.industryAndCommerceTaxBogota
                        "
                      />
                      <div
                        *ngIf="
                          industryAndCommerceTaxRateBogota.errors?.required &&
                          industryAndCommerceTaxRateBogota.touched
                        "
                      >
                        <span class="text-danger"
                          >Este campo es obligatorio</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 pt-4">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        Malambo
                      </li>
                      <li class="list-inline-item">
                        <app-toggle
                          [disabled]="isAdminUser"
                          [prop]="'industryAndCommerceTaxMalambo'"
                          [model]="stageA.industryAndCommerceTaxMalambo"
                          (updatedValue)="updatedValue($event)"
                        >
                        </app-toggle>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="col-5">
                    <div class="form-group">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Cód Actividad:*"
                        [(ngModel)]="stageA.industryAndCommerceTaxCodMalambo"
                        [ngClass]="{
                          'is-invalid':
                            industryAndCommerceTaxCodMalambo.errors?.required &&
                            industryAndCommerceTaxCodMalambo.touched
                        }"
                        name="industryAndCommerceTaxCodMalambo"
                        minlength="2"
                        #industryAndCommerceTaxCodMalambo="ngModel"
                        required
                        [disabled]="
                          isAdminUser ||
                          loading ||
                          !stageA.industryAndCommerceTaxMalambo
                        "
                      />
                      <div
                        *ngIf="
                          industryAndCommerceTaxCodMalambo.errors?.required &&
                          industryAndCommerceTaxCodMalambo.touched
                        "
                      >
                        <span class="text-danger"
                          >Este campo es obligatorio</span
                        >
                      </div>
                    </div>
                  </div> -->
                  <div class="form-group col-6">
                    <label>CIIU</label>
                    <ng-autocomplete
                    [initialValue]="ciiuInitial[1]"
                    [data]="ciiuCodes"
                    [searchKeyword]="keyword"
                    (selected)='selectCiiuTwo($event)'
                    [disabled]="isAdminUser || loading || !stageA.industryAndCommerceTaxMalambo"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">                                 
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <a>
                      <span [innerHTML]="item.codigo"></span>
                      |
                      <span [innerHTML]="item.descripcion"></span>
                    </a>
                  </ng-template>
                    
                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                    <!--select
                      class="form-control"
                      [(ngModel)]="stageA.industryAndCommerceTaxCodMalambo"
                      [ngClass]="{
                        'is-invalid':
                        industryAndCommerceTaxCodMalambo.errors?.required &&
                        industryAndCommerceTaxCodMalambo.touched
                      }"
                      name="industryAndCommerceTaxCodMalambo"
                      #industryAndCommerceTaxCodMalambo="ngModel"
                      required
                      [disabled]="isAdminUser || loading || !stageA.industryAndCommerceTaxMalambo"
                    >
                      <option [ngValue]="null">CIIU*</option>
                      <option style="max-width: 50px;"
                        *ngFor="let ciiuCode of ciiuCodes"
                        [ngValue]="ciiuCode.id"
                        >{{ ciiuCode.codigo }} | {{ ciiuCode.descripcion }}</option
                      >
                    </select -->
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label>Tarifa (%):</label>
                      <input
                        type="text"
                        class="form-control"
                        appMycurrency
                        placeholder=""
                        [(ngModel)]="stageA.industryAndCommerceTaxRateMalambo"
                        [ngClass]="{
                          'is-invalid':
                            industryAndCommerceTaxRateMalambo.errors
                              ?.required &&
                            industryAndCommerceTaxRateMalambo.touched
                        }"
                        name="industryAndCommerceTaxRateMalambo"
                        minlength="2"
                        #industryAndCommerceTaxRateMalambo="ngModel"
                        required
                        [disabled]="
                          isAdminUser ||
                          loading ||
                          !stageA.industryAndCommerceTaxMalambo
                        "
                      />
                      <div
                        *ngIf="
                          industryAndCommerceTaxRateMalambo.errors?.required &&
                          industryAndCommerceTaxRateMalambo.touched
                        "
                      >
                        <span class="text-danger"
                          >Este campo es obligatorio</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <div class="form-group">
                      <label>Otro*</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        [(ngModel)]="stageA.industryAndCommerceTaxOther"
                        name="industryAndCommerceTaxOther"
                        minlength="2"
                        #industryAndCommerceTaxOther="ngModel"
                        required
                        [disabled]="
                          isAdminUser ||
                          loading ||
                          stageA.industryAndCommerceTaxBogota ||
                          stageA.industryAndCommerceTaxMalambo
                        "
                      />
                    </div>
                  </div>
                  <!-- <div class="col-4">
                    <div class="form-group">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Cód Actividad:*"
                        [(ngModel)]="stageA.industryAndCommerceTaxCodOther"
                        name="industryAndCommerceTaxCodOther"
                        minlength="2"
                        #industryAndCommerceTaxCodOther="ngModel"
                        required
                        [disabled]="
                          isAdminUser ||
                          loading ||
                          stageA.industryAndCommerceTaxBogota ||
                          stageA.industryAndCommerceTaxMalambo
                        "
                      />
                    </div>
                  </div> -->
                  <div class="form-group col-6">
                    <label>CIIU</label>
                    <ng-autocomplete
                    [initialValue]="ciiuInitial[2]"
                    [data]="ciiuCodes"
                    [searchKeyword]="keyword"
                    (selected)='selectCiiuThree($event)'
                    [disabled]="isAdminUser || loading || stageA.industryAndCommerceTaxBogota || stageA.industryAndCommerceTaxMalambo"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">                                 
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <a>
                      <span [innerHTML]="item.codigo"></span>
                      |
                      <span [innerHTML]="item.descripcion"></span>
                    </a>
                  </ng-template>
                    
                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                    <!--select
                      class="form-control"
                      [(ngModel)]="stageA.industryAndCommerceTaxOther"
                      [ngClass]="{
                        'is-invalid':
                        industryAndCommerceTaxOther.errors?.required &&
                        industryAndCommerceTaxOther.touched
                      }"
                      name="industryAndCommerceTaxOther"
                      #industryAndCommerceTaxOther="ngModel"
                      required
                      [disabled]="isAdminUser || loading || stageA.industryAndCommerceTaxBogota || stageA.industryAndCommerceTaxMalambo"
                    >
                      <option [ngValue]="null">CIIU*</option>
                      <option style="max-width: 50px;"
                        *ngFor="let ciiuCode of ciiuCodes"
                        [ngValue]="ciiuCode.id"
                        >{{ ciiuCode.codigo }} | {{ ciiuCode.descripcion }}</option
                      >
                    </select -->
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label>Tarifa (%):</label>
                      <input
                        type="text"
                        appMycurrency
                        class="form-control"
                        placeholder=""
                        [(ngModel)]="stageA.industryAndCommerceTaxRateOther"
                        name="industryAndCommerceTaxRateOther"
                        minlength="2"
                        #industryAndCommerceTaxRateOther="ngModel"
                        required
                        [disabled]="
                          isAdminUser ||
                          loading ||
                          stageA.industryAndCommerceTaxBogota ||
                          stageA.industryAndCommerceTaxMalambo
                        "
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <app-form-title [text]="'información tributaria'"></app-form-title>
            <div class="row mt-3">
              <div class="col-4">
                <div class="form-group">
                  <label>Año tributario</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="stageA.tributaryYear"
                    [ngClass]="{
                      'is-invalid':
                        tributaryYear.errors?.required && tributaryYear.touched
                    }"
                    name="tributaryYear"
                    minlength="2"
                    #tributaryYear="ngModel"
                    required
                    [disabled]="isAdminUser || true"
                  />
                  <div
                    *ngIf="
                      tributaryYear.errors?.required && tributaryYear.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>($) Ingresos operacionales*</label>
                  <input
                    type="text"
                    class="form-control"
                    appMycurrency
                    placeholder=""
                    [(ngModel)]="stageA.tributaryOperationalIncome"
                    [ngClass]="{
                      'is-invalid':
                        tributaryOperationalIncome.errors?.required &&
                        tributaryOperationalIncome.touched
                    }"
                    name="tributaryOperationalIncome"
                    minlength="2"
                    #tributaryOperationalIncome="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      tributaryOperationalIncome.errors?.required &&
                      tributaryOperationalIncome.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Gastos operacionales*</label>
                  <input
                    type="text"
                    class="form-control"
                    appMycurrency
                    placeholder=""
                    [(ngModel)]="stageA.tributaryOperationalExpenses"
                    [ngClass]="{
                      'is-invalid':
                        tributaryOperationalExpenses.errors?.required &&
                        tributaryOperationalExpenses.touched
                    }"
                    name="tributaryOperationalExpenses"
                    minlength="2"
                    #tributaryOperationalExpenses="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      tributaryOperationalExpenses.errors?.required &&
                      tributaryOperationalExpenses.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-4">
                <div class="form-group">
                  <label>Total Ingresos*</label>
                  <input
                    type="text"
                    class="form-control"
                    appMycurrency
                    placeholder=""
                    [(ngModel)]="stageA.totalIncome"
                    [ngClass]="{
                      'is-invalid':
                        totalIncome.errors?.required && totalIncome.touched
                    }"
                    name="totalIncome"
                    minlength="2"
                    #totalIncome="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="totalIncome.errors?.required && totalIncome.touched"
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Total Activos*</label>
                  <input
                    type="text"
                    class="form-control"
                    appMycurrency
                    placeholder=""
                    [(ngModel)]="stageA.totalActive"
                    [ngClass]="{
                      'is-invalid':
                        totalActive.errors?.required && totalActive.touched
                    }"
                    name="totalActive"
                    minlength="2"
                    #totalActive="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="totalActive.errors?.required && totalActive.touched"
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Total Pasivos*</label>
                  <input
                    type="text"
                    class="form-control"
                    appMycurrency
                    placeholder=""
                    [(ngModel)]="stageA.totalPassive"
                    [ngClass]="{
                      'is-invalid':
                        totalPassive.errors?.required && totalPassive.touched
                    }"
                    name="totalPassive"
                    minlength="2"
                    #totalPassive="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      totalPassive.errors?.required && totalPassive.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
            </div>
            <app-form-title [text]="'referencias comerciales'"></app-form-title>
            <div class="row mt-3">
              <div class="col-4">
                <div class="form-group">
                  <label>Empresa 1*</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.commercialReferenceName1"
                    [ngClass]="{
                      'is-invalid':
                        commercialReferenceName1.errors?.required &&
                        commercialReferenceName1.touched
                    }"
                    name="commercialReferenceName1"
                    minlength="2"
                    #commercialReferenceName1="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      commercialReferenceName1.errors?.required &&
                      commercialReferenceName1.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Telefono:*</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.commercialReferencePhone1"
                    [ngClass]="{
                      'is-invalid':
                        commercialReferencePhone1.errors?.required &&
                        commercialReferencePhone1.touched
                    }"
                    name="commercialReferencePhone1"
                    minlength="2"
                    #commercialReferencePhone1="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      commercialReferencePhone1.errors?.required &&
                      commercialReferencePhone1.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Contacto: *</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.commercialReferenceContact1"
                    [ngClass]="{
                      'is-invalid':
                        commercialReferenceContact1.errors?.required &&
                        commercialReferenceContact1.touched
                    }"
                    name="commercialReferenceContact1"
                    minlength="2"
                    #commercialReferenceContact1="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      commercialReferenceContact1.errors?.required &&
                      commercialReferenceContact1.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-4">
                <div class="form-group">
                  <label>Empresa 2</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.commercialReferenceName2"
                    name="commercialReferenceName2"
                    minlength="2"
                    #commercialReferenceName2="ngModel"
                    [disabled]="isAdminUser || loading"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Telefono:</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.commercialReferencePhone2"
                    name="commercialReferencePhone2"
                    minlength="2"
                    #commercialReferencePhone2="ngModel"
                    [disabled]="isAdminUser || loading"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Contacto:</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.commercialReferenceContact2"
                    name="commercialReferenceContact2"
                    minlength="2"
                    #commercialReferenceContact2="ngModel"
                    [disabled]="isAdminUser || loading"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-4">
                <div class="form-group">
                  <label>Empresa 3</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.commercialReferenceName3"
                    name="commercialReferenceName3"
                    minlength="2"
                    #commercialReferenceName3="ngModel"
                    [disabled]="isAdminUser || loading"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Telefono:</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.commercialReferencePhone3"
                    name="commercialReferencePhone3"
                    minlength="2"
                    #commercialReferencePhone3="ngModel"
                    [disabled]="isAdminUser || loading"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Contacto:</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.commercialReferenceContact3"
                    name="commercialReferenceContact3"
                    minlength="2"
                    #commercialReferenceContact3="ngModel"
                    [disabled]="isAdminUser || loading"
                  />
                </div>
              </div>
            </div>
            <app-form-title [text]="'referencia bancaria'"></app-form-title>
            <div class="row mt-3">
              <div class="col-8">
                <div class="form-group">
                  <label>Entidad bancaria*</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.bankReferenceName"
                    [ngClass]="{
                      'is-invalid':
                      bankReferenceName.errors?.required &&
                      bankReferenceName.touched
                    }"
                    name="bankReferenceName"
                    minlength="2"
                    #bankReferenceName="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                    bankReferenceName.errors?.required &&
                    bankReferenceName.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Sucursal bancaria*</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.bankReferenceBranchName"
                    [ngClass]="{
                      'is-invalid':
                        bankReferenceBranchName.errors?.required &&
                        bankReferenceBranchName.touched
                    }"
                    name="bankReferenceBranchName"
                    minlength="2"
                    #bankReferenceBranchName="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      bankReferenceBranchName.errors?.required &&
                      bankReferenceBranchName.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label>Funcionario*</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.bankReferenceNameContact"
                    [ngClass]="{
                      'is-invalid':
                        bankReferenceNameContact.errors?.required &&
                        bankReferenceNameContact.touched
                    }"
                    name="bankReferenceNameContact"
                    minlength="2"
                    #bankReferenceNameContact="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      bankReferenceNameContact.errors?.required &&
                      bankReferenceNameContact.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Teléfono/Celular:*</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.bankReferenceMobile"
                    [ngClass]="{
                      'is-invalid':
                        bankReferenceMobile.errors?.required &&
                        bankReferenceMobile.touched
                    }"
                    name="bankReferenceMobile"
                    minlength="2"
                    maxlength="20"
                    #bankReferenceMobile="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      bankReferenceMobile.errors?.required &&
                      bankReferenceMobile.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>E-mail:*</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    [(ngModel)]="stageA.bankReferenceEmail"
                    [ngClass]="{
                      'is-invalid':
                      bankReferenceEmail.errors?.required &&
                        bankReferenceEmail.touched
                    }"
                    name="bankReferenceEmail"
                    minlength="2"
                    #bankReferenceEmail="ngModel"
                    required
                    [disabled]="isAdminUser || loading"
                  />
                  <div
                    *ngIf="
                      bankReferenceEmail.errors?.required &&
                      bankReferenceEmail.touched
                    "
                  >
                    <span class="text-danger">Este campo es obligatorio</span>
                  </div>
                </div>
              </div>
            </div>
            <app-form-title
              [text]="'espacio reservado para la compañía acesco'"
              *ngIf="isAdminUser"
            ></app-form-title>
            <div class="row" *ngIf="isAdminUser">
              <div class="col-4">
                <div class="form-group mt-2">
                  <select
                    class="form-control"
                    [(ngModel)]="reserved_space.language_id"
                    name="language_id"
                    [disabled]="loading"
                  >
                    <option [ngValue]="null">Lenguaje</option>
                    <option
                      *ngFor="let language of languages"
                      [ngValue]="language"
                      >{{ language.description }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group mt-2">
                  <select
                    class="form-control"
                    [(ngModel)]="reserved_space.currency_id"
                    name="currency_id"
                    required
                    [disabled]="loading"
                  >
                    <option [ngValue]="null">Moneda</option>
                    <option
                      *ngFor="let currency of currencies"
                      [ngValue]="currency"
                      >{{ currency.description }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="col-4">
                <!--SPACER-->
              </div>
            </div>
            <div class="row" *ngIf="isAdminUser">
              <div class="col-12 border">
                <p class="mt-2">
                  Nivel de impacto del bien o servicio que suministra dentro del
                  proceso de Acesco? Según los criterios del sistema de gestión
                </p>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let toggle of impactLevelToggles">
                      <span>{{ toggle.label }}</span>
                      <app-toggle
                        class="pr-3"
                        [loading]="loading"
                        [model]="toggle.value"
                        [prop]="toggle.model"
                        [prop2]="toggle.key"
                        (updatedValue)="updatedValue($event)"
                      >
                      </app-toggle>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 border">
                <p class="mt-2">Plazo de pago (Días)</p>
                <div class="container">
                  <div class="row">
                    <div *ngFor="let toggle of paymentConditionToggles">
                      <span>{{ toggle.key }}</span>
                      <app-toggle
                        class="pr-3"
                        [loading]="loading"
                        [model]="toggle.value"
                        [prop]="toggle.model"
                        [prop2]="toggle.key"
                        (updatedValue)="updatedValue($event)"
                      >
                      </app-toggle>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <div
                  *ngIf="successMessage"
                  class="alert alert-success"
                  role="alert"
                >
                  {{ successMessage }}
                </div>
                <button
                *ngIf="!isAdminUser && !__approved"
                  type="submit"
                  class="acesco-button"
                  [disabled]="isAdminUser || loading || stageAForm.invalid"
                >
                  Enviar
                  <fa-icon [icon]="faCaretRight" *ngIf="!loading"></fa-icon>
                  <fa-icon
                    [icon]="faSpinner"
                    *ngIf="loading"
                    [spin]="true"
                  ></fa-icon>
                </button>
                <button
                  class="acesco-button"
                  type="button"
                  (click)="approval()"
                  *ngIf="isAdminUser"
                  [disabled]="loading"
                >
                  Aprobar
                  <fa-icon [icon]="faCaretRight" *ngIf="!loading"></fa-icon>
                  <fa-icon
                    [icon]="faSpinner"
                    [spin]="true"
                    *ngIf="loading"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </form>
          <button *ngIf="!isAdminUser && !__approved" (click)="autoFill()">
            autorellenar
          </button>
          <app-return
            *ngIf="this.id && !__approved"
            [user]="id"
          ></app-return>
        </div>
      </div>
    </div>
  </div>
  <app-footer *ngIf="!__approved"></app-footer>
</section>
