<section id="app-approved-profile" class="animated fadeIn fast">
  <app-loader [loading]="loading" [height]="height"></app-loader>
  <app-logo-and-social></app-logo-and-social>
  <div class="container">
    <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="true">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#stage-a" role="tab" aria-controls="stage-a"
          aria-selected="false">Preseleccion etapa A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#stage-b" role="tab" aria-controls="stage-b"
          aria-selected="false">Preseleccion etapa B</a>
      </li>
    </ul>
  </div>
  <div class="container-fluid">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        A
      </div>
      <div class="tab-pane fade" id="stage-a" role="tabpanel" aria-labelledby="stage-a-tab">
        B
      </div>
      <div class="tab-pane fade" id="stage-b" role="tabpanel" aria-labelledby="stage-b-tab">
        c
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>