<section id="app-approved-profile" class="animated fadeIn fast">
  <app-loader [loading]="loading" [height]="height"></app-loader>
  <app-logo-and-social></app-logo-and-social>
  <div class="container-fluid">
    <!-- <app-profile [approved]="true" #profile></app-profile> -->
    <app-new-provider [approved]="true" #provider></app-new-provider>
    <br /><br />
    <app-stage-a [approved]="true" #stagea></app-stage-a>
    <br /><br />
    <app-stage-b [approved]="true" #stageb></app-stage-b>
    <div class="row">
      <div class="col text-center">
        <button
          class="acesco-button max-500 mt-5"
          (click)="provider.updated();stagea.updated();stageb.updated();"
        >
          Actualizar
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
