<div class="row procesco-container">
  <app-loader [loading]="loading" [height]="height"></app-loader>
  <div class="col-6 left">
    <div class="row left-one">
      <div class="col">
        <h4 class="ml-2 brand mt-3">Acesco
          <fa-icon [icon]="faGoogleDrive"></fa-icon>
        </h4>
      </div>
    </div>
    <div class="row left-two">
      <div class="col-12 mt-5">
        <h3 class="mt-5">PROCESCO</h3>
        <p class="with-underline">Proceso para proveedores Acesco</p>
        <p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam atque delectus dolor
          dolorem
          eaque.</p>
        <fa-icon [icon]="faLongArrowAltRight" class="faLongArrowAltRight"></fa-icon>
      </div>
    </div>
    <div class="row left-three">
      <div class="col-12 align-self-end">
        <hr class="line">
        <ul class="list">
          <li>
            <span>Acerias de Colombia - ACESCO SAS - Km 3 via Malambo - Sabanagrande</span>
          </li>
          <li>
            <span>Linea de atención al cliente: 01-8000 514514</span>
          </li>
          <li>
            <span>adm.procesco@acesco.com</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-6 right animated fadeIn fast" *ngIf="(!showLogin && !showRegister)">
    <div class="row right-one">
      <div class="col text-right">
        <ul class="list-inline social-list mt-3">
          <li *ngFor="let social of socialLinks" [class]="social.classes">
            <a [href]="social.url" target="_blank">
              <fa-icon [icon]="social.icon" class="icon"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row right-two">
      <div class="col">
        <ul class="list-unstyled text-center mt-5">
          <li *ngFor="let button of buttons; let i = index">
            <button class="acesco-button" (click)="nextPage(i);" (mouseenter)="showExplanation(i);"
                    (mouseleave)="hideExplanation();">
              <fa-icon [icon]="button.icon"></fa-icon>
              {{button.text}}
              <fa-icon [icon]="faCaretRight"></fa-icon>
            </button>
          </li>
        </ul>
        <div class="alert alert-warning animated fadeIn fast mt-5" role="alert" *ngIf="explanation.length">
          {{explanation}}
        </div>
      </div>
    </div>
    <div class="row right-three">
      <div class="col align-self-end">
        <ul class="list-unstyled text-right pr-3">
          <li>
            <span>Terminos y Condiciones • Proteccion y Autorizacion De Datos Personales • Contáctenos</span>
          </li>
          <li>
            <span>© Copyright | All rights Reserved | Desarrollo Sergio Zapata</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-6 right animated fadeIn fast" *ngIf="showLogin || showRegister">
    <div class="row right-one">
      <div class="col text-right">
        <ul class="list-inline social-list mt-3">
          <li *ngFor="let social of socialLinks" [class]="social.classes">
            <a [href]="social.url" target="_blank">
              <fa-icon [icon]="social.icon" class="icon"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row right-two justify-content-center">
      <app-login *ngIf="showLogin" (back)="back($event)" (isLoading)="isLoading($event)"></app-login>
      <app-register *ngIf="showRegister" (back)="back($event);" (isLoading)="isLoading($event)"></app-register>
    </div>
    <div class="row right-three">
      <div class="col align-self-end">
        <ul class="list-unstyled text-right pr-3">
          <li>
            <span>Terminos y Condiciones • Proteccion y Autorizacion De Datos Personales • Contáctenos</span>
          </li>
          <li>
            <span>© Copyright | All rights Reserved | Desarrollo Sergio Zapata</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
