<div class="row procesco-container">
  <div class="col-6 left">
    <div class="row left-one">
      <div class="col">
        <img class="img-fluid logo" src="../../../assets/images/logo_white.png" alt="acesco logo">
      </div>
    </div>
    <div class="row left-two">
      <div class="col-12 mt-5">
        <h3 class="mt-5">PROVEEDORES ACESCO</h3>
        <p class="with-underline">Procesos de relacionamiento con proveedores Acesco</p>
        <span>conoce nuestro <a href="https://www.acesco.com.co/somos/codigo-de-etica/">código de ética</a></span>
      </div>
    </div>
    <div class="row left-three">
      <div class="col-12 align-self-end">
        <hr class="line">
        <ul class="list">
          <li>
            <span>ACESCO COLOMBIA - Km 3 vía Malambo - Sabanagrande</span>
          </li>
          <li>
            <span>Línea de atención al cliente: 01-8000 514514</span>
          </li>
          <li>
            <span>admin.procesco@acesco.com</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-6 right animated fadeIn fast" *ngIf="(!showLogin && !showRegister)">
    <div class="row right-one">
      <div class="col text-right">
        <ul class="list-inline social-list mt-3">
          <li *ngFor="let social of socialLinks" [class]="social.classes">
            <a [href]="social.url" target="_blank">
              <fa-icon [icon]="social.icon" class="icon"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row right-two">
      <div class="col mt-5">
        <ul class="list-unstyled text-center mt-5">
          <li *ngFor="let button of buttons; let i = index">
            <button class="acesco-button" (click)="nextPage(i);" (mouseenter)="showExplanation(i);"
                    (mouseleave)="hideExplanation();">
              <fa-icon [icon]="button.icon"></fa-icon>
              {{button.text}}
              <fa-icon [icon]="faCaretRight"></fa-icon>
            </button>
          </li>
        </ul>
        <div class="alert alert-warning animated fadeIn fast mt-5" role="alert" *ngIf="explanation.length">
          {{explanation}}
        </div>
      </div>
    </div>
    <div class="row right-three">
      <div class="col align-self-end">
        <ul class="list-unstyled text-right pr-3">
          <li>
            <span>Términos y Condiciones • Protección y Autorización De Datos Personales • Contáctenos</span>
          </li>
          <li>
            <span>© Copyright | Todos los derechos reservados.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-6 right animated fadeIn fast" *ngIf="showLogin || showRegister">
    <div class="row right-one">
      <div class="col text-right">
        <ul class="list-inline social-list mt-3">
          <li *ngFor="let social of socialLinks" [class]="social.classes">
            <a [href]="social.url" target="_blank">
              <fa-icon [icon]="social.icon" class="icon"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row right-two justify-content-center">
      <app-login class="mt-5" *ngIf="showLogin" (back)="back($event)" (isLoading)="isLoading($event)"></app-login>
      <app-register *ngIf="showRegister" (back)="back($event);"></app-register>
    </div>
    <div class="row right-three">
      <div class="col align-self-end">
        <ul class="list-unstyled text-right pr-3">
          <li>
            <span>Términos y Condiciones • Protección y Autorizacion De Datos Personales • Contáctenos</span>
          </li>
          <li>
            <span>© Copyright | All rights Reserved</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
