<footer id="app-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 left">
        <ul class="list">
          <li>
            <span>Acerias de Colombia - ACESCO SAS - Km 3 via Malambo - Sabanagrande</span>
          </li>
          <li>
            <span>Linea de atención al cliente: 01-8000 514514</span>
          </li>
          <li>
            <span>adm.procesco@acesco.com</span>
          </li>
        </ul>
      </div>

      <div class="col-6 right">
        <ul class="list-unstyled text-right pr-3">
          <li>
            <span>Terminos y Condiciones • Proteccion y Autorizacion De Datos Personales • Contáctenos</span>
          </li>
          <li>
            <span>© Copyright | All rights Reserved | Desarrollo Sergio Zapata</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
