<footer id="app-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 left">
        <ul class="list">
          <li>
            <span>Acerias de Colombia - ACESCO SAS - Km 3 vía Malambo - Sabanagrande</span>
          </li>
          <li>
            <span>Línea de atención al cliente: 01-8000 514514</span>
          </li>
          <li>
            <span>admin.procesco@acesco.com</span>
          </li>
        </ul>
      </div>

      <div class="col-6 right">
        <ul class="list-unstyled text-right pr-3">
          <li>
            <span>Términos y Condiciones • Protección y Autorización De Datos Personales • Contáctenos</span>
          </li>
          <li>
            <span>© Copyright | Todos los derechos reservados.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
