#app-footer {
  background-color: transparent;
  color: var(--white);
  font-size: 12px;
  margin-top: 50px;
}

.row {
  border-top: 1px solid var(--white);
}

.col-6 {
  margin-top: 20px;
  margin-bottom: 30px;
}
